In [70]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [71]:
df1 = pd.read_csv("../dataset/kathmandu_valley_t2m_final.csv")
df2 = pd.read_csv("../dataset/kathmandu_valley_tp.csv")

In [72]:
df1["valid_time"] = pd.to_datetime(df1["valid_time"])
df2["valid_time"] = pd.to_datetime(df2["valid_time"])

In [73]:
# Merge based on valid_time, latitude, and longitude
df = pd.merge(
    df1,
    df2,
    on=["valid_time", "latitude", "longitude"],
    how="inner"  # use 'outer' if you want all records even if not matching
)

# Check result
print(df.head())

# Save merged dataset
# df.to_csv("merged_dataset.csv", index=False)

           valid_time  latitude  longitude        t2m  t2m_C  year_x  month_x  \
0 1940-01-01 09:00:00      28.0      85.00  285.40854  12.26    1940        1
1 1940-01-01 09:00:00      27.5      86.00  287.08627  13.94    1940        1
2 1940-01-01 09:00:00      27.5      85.75  288.47300  15.32    1940        1
3 1940-01-01 09:00:00      27.5      85.50  288.20737  15.06    1940        1
4 1940-01-01 09:00:00      27.5      85.25  288.78940  15.64    1940        1

   day_x      date_x  heat_stress  ...  heatwave_flag coldsnap_flag       tp  \
0      1  1940-01-01        False  ...          False         False  0.00012
1      1  1940-01-01        False  ...          False         False  0.00000
2      1  1940-01-01        False  ...          False         False  0.00000
3      1  1940-01-01        False  ...          False         False  0.00000
4      1  1940-01-01        False  ...          False         False  0.00000

   number  expver  year_y  month_y  day_y      date_y     tp_mm
0       0       1    1940        1      1  1940-01-01  0.120163
1       0       1    1940        1      1  1940-01-01  0.000000
2       0       1    1940        1      1  1940-01-01  0.000000
3       0       1    1940        1      1  1940-01-01  0.000000
4       0       1    1940        1      1  1940-01-01  0.000000

[5 rows x 25 columns]

In [74]:
df['t2m_C'].max()

39.38

In [75]:
df

,valid_time,latitude,longitude,t2m,t2m_C,year_x,month_x,day_x,date_x,heat_stress,...,heatwave_flag,coldsnap_flag,tp,number,expver,year_y,month_y,day_y,date_y,tp_mm
0,1940-01-01 09:00:00,28.00,85.00,285.40854,12.26,1940,1,1,1940-01-01,False,...,False,False,0.000120,0,1,1940,1,1,1940-01-01,0.120163
1,1940-01-01 09:00:00,27.50,86.00,287.08627,13.94,1940,1,1,1940-01-01,False,...,False,False,0.000000,0,1,1940,1,1,1940-01-01,0.000000
2,1940-01-01 09:00:00,27.50,85.75,288.47300,15.32,1940,1,1,1940-01-01,False,...,False,False,0.000000,0,1,1940,1,1,1940-01-01,0.000000
3,1940-01-01 09:00:00,27.50,85.50,288.20737,15.06,1940,1,1,1940-01-01,False,...,False,False,0.000000,0,1,1940,1,1,1940-01-01,0.000000
4,1940-01-01 09:00:00,27.50,85.25,288.78940,15.64,1940,1,1,1940-01-01,False,...,False,False,0.000000,0,1,1940,1,1,1940-01-01,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293065,2025-09-06 09:00:00,28.00,85.25,295.89453,22.74,2025,9,6,2025-09-06,False,...,False,False,0.000932,0,5,2025,9,6,2025-09-06,0.932217
293066,2025-09-06 09:00:00,28.00,85.00,297.06055,23.91,2025,9,6,2025-09-06,False,...,False,False,0.000876,0,5,2025,9,6,2025-09-06,0.876427
293067,2025-09-06 09:00:00,27.50,85.75,299.14453,25.99,2025,9,6,2025-09-06,False,...,False,False,0.000957,0,5,2025,9,6,2025-09-06,0.957489
293068,2025-09-06 09:00:00,27.75,85.25,297.32812,24.18,2025,9,6,2025-09-06,False,...,False,False,0.001698,0,5,2025,9,6,2025-09-06,1.698017
293069,2025-09-06 09:00:00,27.50,86.00,297.80273,24.65,2025,9,6,2025-09-06,False,...,False,False,0.000392,0,5,2025,9,6,2025-09-06,0.391960

In [76]:

df["date"] =df["valid_time"].dt.date
df["month"] = df["valid_time"].dt.month
df["day"] = df["valid_time"].dt.day
df["time"] = df["valid_time"].dt.time
df["year"] = df["valid_time"].dt.year

In [77]:
df.columns

Index(['valid_time', 'latitude', 'longitude', 't2m', 't2m_C', 'year_x',
       'month_x', 'day_x', 'date_x', 'heat_stress', 'cold_stress',
       'growth_stage', 'anomaly', 'heat_consec_days', 'cold_consec_days',
       'heatwave_flag', 'coldsnap_flag', 'tp', 'number', 'expver', 'year_y',
       'month_y', 'day_y', 'date_y', 'tp_mm', 'date', 'month', 'day', 'time',
       'year'],
      dtype='object')

In [78]:
df.drop(columns=["valid_time"], inplace=True)

In [79]:
import pandas as pd
import numpy as np

# --- 0️⃣ Ensure your dataframe `df` is loaded ---
# df = pd.read_csv('your_data.csv')  # Example

# 1️⃣ Ensure datetime column
df['date'] = pd.to_datetime(df['date'])

# 2️⃣ Define full daily range for the study period
full_dates = pd.date_range(start='1940-01-01', end='2025-10-31', freq='D')

# 3️⃣ Function to fill missing calendar days per (lat, lon)
def fill_missing_dates(group):
    group = group.set_index('date').reindex(full_dates)
    group.index.name = 'date'
    
    # Restore fixed identifiers
    group['latitude'] = group['latitude'].ffill().bfill().iloc[0]
    group['longitude'] = group['longitude'].ffill().bfill().iloc[0]
    
    # Fill temporal parts
    group['year'] = group.index.year
    group['month'] = group.index.month
    group['day'] = group.index.day

    # --- Variable-specific filling ---
    # Temperature: interpolate
    if 't2m_C' in group.columns:
        group['t2m_C'] = group['t2m_C'].interpolate(limit_direction='both')
    
    # Precipitation: fill missing with 0
    if 'tp_mm' in group.columns:
        group['tp_mm'] = group['tp_mm'].fillna(0)
    
    # Other numeric columns: interpolate
    numeric_cols = group.select_dtypes(include=[np.number]).columns.difference(['t2m_C','tp_mm'])
    group[numeric_cols] = group[numeric_cols].interpolate(limit_direction='both')

    # Flags / categorical columns
    for col in group.columns:
        if group[col].dtype == 'object':
            group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
        if group[col].dtype == 'bool' or 'flag' in col.lower():
            group[col] = group[col].fillna(0).astype(int)

    return group.reset_index()

# 4️⃣ Apply filling per location
df_filled = df.groupby(['latitude', 'longitude'], group_keys=False).apply(fill_missing_dates)
df_filled = df_filled.sort_values(['latitude','longitude','date']).reset_index(drop=True)

print("✅ Missing dates filled successfully!")

# 5️⃣ Compute heat_proxy and future heat flags per location
def compute_heat_flags(group):
    # 90th percentile threshold
    threshold = group['t2m_C'].quantile(0.90)
    group['heat_proxy'] = (group['t2m_C'] >= threshold).astype(int)
    
    # Shift to get future heat days
    group = group.sort_values('date')
    group['heat_next_day']   = group['heat_proxy'].shift(-1, fill_value=0)
    group['heat_next_2days'] = group['heat_proxy'].shift(-2, fill_value=0)
    group['heat_next_3days'] = group['heat_proxy'].shift(-3, fill_value=0)
    
    # Ensure 0/1
    for col in ['heat_next_day','heat_next_2days','heat_next_3days']:
        group[col] = group[col].clip(0,1).astype(int)
    
    return group

# 6️⃣ Apply heat computation
df_final = df_filled.groupby(['latitude', 'longitude'], group_keys=False).apply(compute_heat_flags)
df_final = df_final.sort_values(['latitude','longitude','date']).reset_index(drop=True)

# 7️⃣ Optional: check last 10 rows
print(df_final[['date','latitude','longitude','t2m_C','tp_mm','heat_proxy','heat_next_day','heat_next_2days','heat_next_3days']].tail(10))

C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')
C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:43: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  group[col] = group[col].fillna(method='ffill').fillna(method='bfill')

✅ Missing dates filled successfully!

C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1899053151.py:74: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_final = df_filled.groupby(['latitude', 'longitude'], group_keys=False).apply(compute_heat_flags)

             date  latitude  longitude  t2m_C  tp_mm  heat_proxy  \
470255 2025-10-22      28.0       86.0  14.62    0.0           1
470256 2025-10-23      28.0       86.0  14.62    0.0           1
470257 2025-10-24      28.0       86.0  14.62    0.0           1
470258 2025-10-25      28.0       86.0  14.62    0.0           1
470259 2025-10-26      28.0       86.0  14.62    0.0           1
470260 2025-10-27      28.0       86.0  14.62    0.0           1
470261 2025-10-28      28.0       86.0  14.62    0.0           1
470262 2025-10-29      28.0       86.0  14.62    0.0           1
470263 2025-10-30      28.0       86.0  14.62    0.0           1
470264 2025-10-31      28.0       86.0  14.62    0.0           1

        heat_next_day  heat_next_2days  heat_next_3days
470255              1                1                1
470256              1                1                1
470257              1                1                1
470258              1                1                1
470259              1                1                1
470260              1                1                1
470261              1                1                1
470262              1                1                0
470263              1                0                0
470264              0                0                0

In [80]:
df = df_final

In [81]:
df.isna().sum()

date                0
latitude            0
longitude           0
t2m                 0
t2m_C               0
year_x              0
month_x             0
day_x               0
date_x              0
heat_stress         0
cold_stress         0
growth_stage        0
anomaly             0
heat_consec_days    0
cold_consec_days    0
heatwave_flag       0
coldsnap_flag       0
tp                  0
number              0
expver              0
year_y              0
month_y             0
day_y               0
date_y              0
tp_mm               0
month               0
day                 0
time                0
year                0
heat_proxy          0
heat_next_day       0
heat_next_2days     0
heat_next_3days     0
dtype: int64

In [82]:
# 1️⃣ Expected full daily range
full_dates = pd.date_range(start='1940-01-01', end='2025-10-31', freq='D')
# 2️⃣ Check per (lat, lon) group
def check_missing_dates(group):
    missing = full_dates.difference(group['date'])
    return pd.DataFrame({
        'latitude': [group['latitude'].iloc[0]],
        'longitude': [group['longitude'].iloc[0]],
        'missing_count': [len(missing)]
    })
missing_report = df.groupby(['latitude', 'longitude'], group_keys=False).apply(check_missing_dates)
print(missing_report)

   latitude  longitude  missing_count
0     27.50      85.00              0
0     27.50      85.25              0
0     27.50      85.50              0
0     27.50      85.75              0
0     27.50      86.00              0
0     27.75      85.00              0
0     27.75      85.25              0
0     27.75      85.50              0
0     27.75      85.75              0
0     27.75      86.00              0
0     28.00      85.00              0
0     28.00      85.25              0
0     28.00      85.50              0
0     28.00      85.75              0
0     28.00      86.00              0

C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\1494294466.py:11: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  missing_report = df.groupby(['latitude', 'longitude'], group_keys=False).apply(check_missing_dates)

In [83]:
df['t2m_C'].max()

39.38

In [84]:
cols_to_drop = [
    'expver',
    'year_x', 'year_y',
    'month_x', 'month_y',
    'day_x', 'day_y','date_x', 'date_y', 'growth_stage'
]

df = df.drop(columns=cols_to_drop, errors='ignore')

df.rename(columns={"anomaly" : "anomaly_T2m_C"}, inplace=True)
print(df.columns)

Index(['date', 'latitude', 'longitude', 't2m', 't2m_C', 'heat_stress',
       'cold_stress', 'anomaly_T2m_C', 'heat_consec_days', 'cold_consec_days',
       'heatwave_flag', 'coldsnap_flag', 'tp', 'number', 'tp_mm', 'month',
       'day', 'time', 'year', 'heat_proxy', 'heat_next_day', 'heat_next_2days',
       'heat_next_3days'],
      dtype='object')

In [85]:
df

,date,latitude,longitude,t2m,t2m_C,heat_stress,cold_stress,anomaly_T2m_C,heat_consec_days,cold_consec_days,...,number,tp_mm,month,day,time,year,heat_proxy,heat_next_day,heat_next_2days,heat_next_3days
0,1940-01-01,27.5,85.0,290.56674,17.42,0,0,-1.397474,0.0,0.0,...,0.0,0.0,1,1,09:00:00,1940,0,0,0,0
1,1940-01-02,27.5,85.0,291.19666,18.05,0,0,-0.767474,0.0,0.0,...,0.0,0.0,1,2,09:00:00,1940,0,0,0,0
2,1940-01-03,27.5,85.0,290.42987,17.28,0,0,-1.537474,0.0,0.0,...,0.0,0.0,1,3,09:00:00,1940,0,0,0,0
3,1940-01-04,27.5,85.0,290.29614,17.15,0,0,-1.667474,0.0,0.0,...,0.0,0.0,1,4,09:00:00,1940,0,0,0,0
4,1940-01-05,27.5,85.0,291.80084,18.65,0,0,-0.167474,0.0,0.0,...,0.0,0.0,1,5,09:00:00,1940,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470260,2025-10-27,28.0,86.0,287.77344,14.62,0,0,-4.197474,0.0,0.0,...,0.0,0.0,10,27,09:00:00,2025,1,1,1,1
470261,2025-10-28,28.0,86.0,287.77344,14.62,0,0,-4.197474,0.0,0.0,...,0.0,0.0,10,28,09:00:00,2025,1,1,1,1
470262,2025-10-29,28.0,86.0,287.77344,14.62,0,0,-4.197474,0.0,0.0,...,0.0,0.0,10,29,09:00:00,2025,1,1,1,0
470263,2025-10-30,28.0,86.0,287.77344,14.62,0,0,-4.197474,0.0,0.0,...,0.0,0.0,10,30,09:00:00,2025,1,1,0,0
470264,2025-10-31,28.0,86.0,287.77344,14.62,0,0,-4.197474,0.0,0.0,...,0.0,0.0,10,31,09:00:00,2025,1,0,0,0

In [86]:
df.head()

,date,latitude,longitude,t2m,t2m_C,heat_stress,cold_stress,anomaly_T2m_C,heat_consec_days,cold_consec_days,...,number,tp_mm,month,day,time,year,heat_proxy,heat_next_day,heat_next_2days,heat_next_3days
0,1940-01-01,27.5,85.0,290.56674,17.42,0,0,-1.397474,0.0,0.0,...,0.0,0.0,1,1,09:00:00,1940,0,0,0,0
1,1940-01-02,27.5,85.0,291.19666,18.05,0,0,-0.767474,0.0,0.0,...,0.0,0.0,1,2,09:00:00,1940,0,0,0,0
2,1940-01-03,27.5,85.0,290.42987,17.28,0,0,-1.537474,0.0,0.0,...,0.0,0.0,1,3,09:00:00,1940,0,0,0,0
3,1940-01-04,27.5,85.0,290.29614,17.15,0,0,-1.667474,0.0,0.0,...,0.0,0.0,1,4,09:00:00,1940,0,0,0,0
4,1940-01-05,27.5,85.0,291.80084,18.65,0,0,-0.167474,0.0,0.0,...,0.0,0.0,1,5,09:00:00,1940,0,0,0,0

In [87]:
cols_order = [
    'latitude', 'longitude', 'year', 'month', 'day', 'date', 'time',
    'valid_time', 'number', 'heat_stress', 'cold_stress',
    'growth_stage',  'heat_consec_days', 'cold_consec_days',
    'heatwave_flag', 'coldsnap_flag',
    'tp', 'tp_mm', 't2m', 't2m_C','anomaly_T2m_C'
]

df = df[[c for c in cols_order if c in df.columns]]

# Check result
print(df.head())

   latitude  longitude  year  month  day       date      time  number  \
0      27.5       85.0  1940      1    1 1940-01-01  09:00:00     0.0
1      27.5       85.0  1940      1    2 1940-01-02  09:00:00     0.0
2      27.5       85.0  1940      1    3 1940-01-03  09:00:00     0.0
3      27.5       85.0  1940      1    4 1940-01-04  09:00:00     0.0
4      27.5       85.0  1940      1    5 1940-01-05  09:00:00     0.0

   heat_stress  cold_stress  heat_consec_days  cold_consec_days  \
0            0            0               0.0               0.0
1            0            0               0.0               0.0
2            0            0               0.0               0.0
3            0            0               0.0               0.0
4            0            0               0.0               0.0

   heatwave_flag  coldsnap_flag   tp  tp_mm        t2m  t2m_C  anomaly_T2m_C
0              0              0  0.0    0.0  290.56674  17.42      -1.397474
1              0              0  0.0    0.0  291.19666  18.05      -0.767474
2              0              0  0.0    0.0  290.42987  17.28      -1.537474
3              0              0  0.0    0.0  290.29614  17.15      -1.667474
4              0              0  0.0    0.0  291.80084  18.65      -0.167474

In [88]:
df

,latitude,longitude,year,month,day,date,time,number,heat_stress,cold_stress,heat_consec_days,cold_consec_days,heatwave_flag,coldsnap_flag,tp,tp_mm,t2m,t2m_C,anomaly_T2m_C
0,27.5,85.0,1940,1,1,1940-01-01,09:00:00,0.0,0,0,0.0,0.0,0,0,0.000000,0.0,290.56674,17.42,-1.397474
1,27.5,85.0,1940,1,2,1940-01-02,09:00:00,0.0,0,0,0.0,0.0,0,0,0.000000,0.0,291.19666,18.05,-0.767474
2,27.5,85.0,1940,1,3,1940-01-03,09:00:00,0.0,0,0,0.0,0.0,0,0,0.000000,0.0,290.42987,17.28,-1.537474
3,27.5,85.0,1940,1,4,1940-01-04,09:00:00,0.0,0,0,0.0,0.0,0,0,0.000000,0.0,290.29614,17.15,-1.667474
4,27.5,85.0,1940,1,5,1940-01-05,09:00:00,0.0,0,0,0.0,0.0,0,0,0.000000,0.0,291.80084,18.65,-0.167474
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470260,28.0,86.0,2025,10,27,2025-10-27,09:00:00,0.0,0,0,0.0,0.0,0,0,0.000874,0.0,287.77344,14.62,-4.197474
470261,28.0,86.0,2025,10,28,2025-10-28,09:00:00,0.0,0,0,0.0,0.0,0,0,0.000874,0.0,287.77344,14.62,-4.197474
470262,28.0,86.0,2025,10,29,2025-10-29,09:00:00,0.0,0,0,0.0,0.0,0,0,0.000874,0.0,287.77344,14.62,-4.197474
470263,28.0,86.0,2025,10,30,2025-10-30,09:00:00,0.0,0,0,0.0,0.0,0,0,0.000874,0.0,287.77344,14.62,-4.197474
470264,28.0,86.0,2025,10,31,2025-10-31,09:00:00,0.0,0,0,0.0,0.0,0,0,0.000874,0.0,287.77344,14.62,-4.197474

In [89]:
df.columns

Index(['latitude', 'longitude', 'year', 'month', 'day', 'date', 'time',
       'number', 'heat_stress', 'cold_stress', 'heat_consec_days',
       'cold_consec_days', 'heatwave_flag', 'coldsnap_flag', 'tp', 'tp_mm',
       't2m', 't2m_C', 'anomaly_T2m_C'],
      dtype='object')

In [90]:
df['t2m_C'].max()

39.38

In [91]:
import pandas as pd

# Load your dataset
# Add heat stress proxy based on 9 AM temperature (t2m_C)
threshold_9am = 21  # 9 AM temp proxy for daily max ~32°C
df['heat_stress_proxy'] = (df['t2m_C'] >= threshold_9am).astype(int)

# Check result
print(df[['date', 't2m_C', 'heat_stress_proxy']].head())

        date  t2m_C  heat_stress_proxy
0 1940-01-01  17.42                  0
1 1940-01-02  18.05                  0
2 1940-01-03  17.28                  0
3 1940-01-04  17.15                  0
4 1940-01-05  18.65                  0

C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\4011805286.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['heat_stress_proxy'] = (df['t2m_C'] >= threshold_9am).astype(int)

In [92]:
cols_to_drop = [
    'heat_stress', 'cold_stress',
    'growth_stage', 'heat_consec_days',
    'cold_consec_days', 'heatwave_flag',
    'coldsnap_flag',
    'valid_time', 'time'
]

df = df.drop(columns=cols_to_drop, errors='ignore')

print(df.columns)

Index(['latitude', 'longitude', 'year', 'month', 'day', 'date', 'number', 'tp',
       'tp_mm', 't2m', 't2m_C', 'anomaly_T2m_C', 'heat_stress_proxy'],
      dtype='object')

In [93]:
df

,latitude,longitude,year,month,day,date,number,tp,tp_mm,t2m,t2m_C,anomaly_T2m_C,heat_stress_proxy
0,27.5,85.0,1940,1,1,1940-01-01,0.0,0.000000,0.0,290.56674,17.42,-1.397474,0
1,27.5,85.0,1940,1,2,1940-01-02,0.0,0.000000,0.0,291.19666,18.05,-0.767474,0
2,27.5,85.0,1940,1,3,1940-01-03,0.0,0.000000,0.0,290.42987,17.28,-1.537474,0
3,27.5,85.0,1940,1,4,1940-01-04,0.0,0.000000,0.0,290.29614,17.15,-1.667474,0
4,27.5,85.0,1940,1,5,1940-01-05,0.0,0.000000,0.0,291.80084,18.65,-0.167474,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
470260,28.0,86.0,2025,10,27,2025-10-27,0.0,0.000874,0.0,287.77344,14.62,-4.197474,0
470261,28.0,86.0,2025,10,28,2025-10-28,0.0,0.000874,0.0,287.77344,14.62,-4.197474,0
470262,28.0,86.0,2025,10,29,2025-10-29,0.0,0.000874,0.0,287.77344,14.62,-4.197474,0
470263,28.0,86.0,2025,10,30,2025-10-30,0.0,0.000874,0.0,287.77344,14.62,-4.197474,0
470264,28.0,86.0,2025,10,31,2025-10-31,0.0,0.000874,0.0,287.77344,14.62,-4.197474,0

In [94]:
df.isnull().sum()

latitude             0
longitude            0
year                 0
month                0
day                  0
date                 0
number               0
tp                   0
tp_mm                0
t2m                  0
t2m_C                0
anomaly_T2m_C        0
heat_stress_proxy    0
dtype: int64

In [95]:
df['t2m_C'].max()

39.38

In [96]:
# Total number of heat stress days
num_heat_days = df['heat_stress_proxy'].sum()

print("Number of heat stress days:", num_heat_days)

Number of heat stress days: 199546

Count per location

In [97]:
num_heat_days_per_loc = df.groupby(['latitude', 'longitude'])['heat_stress_proxy'].sum().reset_index()
num_heat_days_per_loc.rename(columns={'heat_stress_proxy':'num_heat_days'}, inplace=True)

print(num_heat_days_per_loc.head())

   latitude  longitude  num_heat_days
0      27.5      85.00          24229
1      27.5      85.25          21679
2      27.5      85.50          20758
3      27.5      85.75          21111
4      27.5      86.00          17609

In [98]:
unique_locations = df[['latitude', 'longitude']].drop_duplicates()
print(unique_locations)

        latitude  longitude
0          27.50      85.00
31351      27.50      85.25
62702      27.50      85.50
94053      27.50      85.75
125404     27.50      86.00
156755     27.75      85.00
188106     27.75      85.25
219457     27.75      85.50
250808     27.75      85.75
282159     27.75      86.00
313510     28.00      85.00
344861     28.00      85.25
376212     28.00      85.50
407563     28.00      85.75
438914     28.00      86.00

In [99]:
df

,latitude,longitude,year,month,day,date,number,tp,tp_mm,t2m,t2m_C,anomaly_T2m_C,heat_stress_proxy
0,27.5,85.0,1940,1,1,1940-01-01,0.0,0.000000,0.0,290.56674,17.42,-1.397474,0
1,27.5,85.0,1940,1,2,1940-01-02,0.0,0.000000,0.0,291.19666,18.05,-0.767474,0
2,27.5,85.0,1940,1,3,1940-01-03,0.0,0.000000,0.0,290.42987,17.28,-1.537474,0
3,27.5,85.0,1940,1,4,1940-01-04,0.0,0.000000,0.0,290.29614,17.15,-1.667474,0
4,27.5,85.0,1940,1,5,1940-01-05,0.0,0.000000,0.0,291.80084,18.65,-0.167474,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
470260,28.0,86.0,2025,10,27,2025-10-27,0.0,0.000874,0.0,287.77344,14.62,-4.197474,0
470261,28.0,86.0,2025,10,28,2025-10-28,0.0,0.000874,0.0,287.77344,14.62,-4.197474,0
470262,28.0,86.0,2025,10,29,2025-10-29,0.0,0.000874,0.0,287.77344,14.62,-4.197474,0
470263,28.0,86.0,2025,10,30,2025-10-30,0.0,0.000874,0.0,287.77344,14.62,-4.197474,0
470264,28.0,86.0,2025,10,31,2025-10-31,0.0,0.000874,0.0,287.77344,14.62,-4.197474,0

Cumulative precipitation per location

Key points:

groupby(['latitude','longitude']) ensures you only sum precipitation within the same area.

rolling(7) gives a moving 7-day sum, not total across the dataset.

reset_index(level=[0,1], drop=True) avoids the MultiIndex error when assigning back to df

In [100]:
# 7-day cumulative precipitation per location
df['tp_7d_cum'] = (
    df.groupby(['latitude','longitude'])['tp_mm']
      .rolling(7, min_periods=1)  # 7-day window
      .sum()
      .reset_index(level=[0,1], drop=True)  # match original df index
)

# 14-day cumulative
df['tp_14d_cum'] = (
    df.groupby(['latitude','longitude'])['tp_mm']
      .rolling(14, min_periods=1)
      .sum()
      .reset_index(level=[0,1], drop=True)
)

In [101]:
df['t2m_C'].max()

39.38

Moving average per location

In [102]:
df['tp_7d_avg'] = (
    df.groupby(['latitude','longitude'])['tp_mm']
      .rolling(7, min_periods=1)
      .mean()
      .reset_index(level=[0,1], drop=True)
)

In [103]:
# Define rainy day
df['rain_day'] = (df['tp_mm'] > 1).astype(int)

# Count consecutive rainy days per location
def count_consec(x):
    return x.groupby((x != x.shift()).cumsum()).cumsum()

df['consec_rain_days'] = df.groupby(['latitude','longitude'])['rain_day'] \
                           .transform(count_consec)

In [104]:
df

,latitude,longitude,year,month,day,date,number,tp,tp_mm,t2m,t2m_C,anomaly_T2m_C,heat_stress_proxy,tp_7d_cum,tp_14d_cum,tp_7d_avg,rain_day,consec_rain_days
0,27.5,85.0,1940,1,1,1940-01-01,0.0,0.000000,0.0,290.56674,17.42,-1.397474,0,0.0,0.0,0.0,0,0
1,27.5,85.0,1940,1,2,1940-01-02,0.0,0.000000,0.0,291.19666,18.05,-0.767474,0,0.0,0.0,0.0,0,0
2,27.5,85.0,1940,1,3,1940-01-03,0.0,0.000000,0.0,290.42987,17.28,-1.537474,0,0.0,0.0,0.0,0,0
3,27.5,85.0,1940,1,4,1940-01-04,0.0,0.000000,0.0,290.29614,17.15,-1.667474,0,0.0,0.0,0.0,0,0
4,27.5,85.0,1940,1,5,1940-01-05,0.0,0.000000,0.0,291.80084,18.65,-0.167474,0,0.0,0.0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470260,28.0,86.0,2025,10,27,2025-10-27,0.0,0.000874,0.0,287.77344,14.62,-4.197474,0,0.0,0.0,0.0,0,0
470261,28.0,86.0,2025,10,28,2025-10-28,0.0,0.000874,0.0,287.77344,14.62,-4.197474,0,0.0,0.0,0.0,0,0
470262,28.0,86.0,2025,10,29,2025-10-29,0.0,0.000874,0.0,287.77344,14.62,-4.197474,0,0.0,0.0,0.0,0,0
470263,28.0,86.0,2025,10,30,2025-10-30,0.0,0.000874,0.0,287.77344,14.62,-4.197474,0,0.0,0.0,0.0,0,0
470264,28.0,86.0,2025,10,31,2025-10-31,0.0,0.000874,0.0,287.77344,14.62,-4.197474,0,0.0,0.0,0.0,0,0

Lag features are previous values of a variable added as new columns, giving your model temporal context. For precipitation (tp_mm), this helps the model “see” what happened in previous days.

Why lag features are important

Rainfall is temporally correlated; past precipitation often influences current crop stress or soil moisture.

Helps the model detect:

Drying trends → drought risk

Successive heavy rains → waterlogging risk

Patterns for heat/drought interaction

In [105]:
import pandas as pd

# Assume df has columns: ['latitude','longitude','date','tp_mm']
df = df.sort_values(['latitude','longitude','date'])

# Lag 1-day, 3-day, 7-day
df['tp_lag1'] = df.groupby(['latitude','longitude'])['tp_mm'].shift(1)
df['tp_lag3'] = df.groupby(['latitude','longitude'])['tp_mm'].shift(3)
df['tp_lag7'] = df.groupby(['latitude','longitude'])['tp_mm'].shift(7)

In [106]:
df['heavy_rain'] = (df['tp_mm'] > 10).astype(int)

#  Seasonal / cyclical features

In [107]:
import numpy as np

In [108]:

df['month_sin'] = np.sin(2 * np.pi * df['month']/12)
df['month_cos'] = np.cos(2 * np.pi * df['month']/12)

In [109]:
df

,latitude,longitude,year,month,day,date,number,tp,tp_mm,t2m,...,tp_14d_cum,tp_7d_avg,rain_day,consec_rain_days,tp_lag1,tp_lag3,tp_lag7,heavy_rain,month_sin,month_cos
0,27.5,85.0,1940,1,1,1940-01-01,0.0,0.000000,0.0,290.56674,...,0.0,0.0,0,0,NaN,NaN,NaN,0,0.500000,0.866025
1,27.5,85.0,1940,1,2,1940-01-02,0.0,0.000000,0.0,291.19666,...,0.0,0.0,0,0,0.0,NaN,NaN,0,0.500000,0.866025
2,27.5,85.0,1940,1,3,1940-01-03,0.0,0.000000,0.0,290.42987,...,0.0,0.0,0,0,0.0,NaN,NaN,0,0.500000,0.866025
3,27.5,85.0,1940,1,4,1940-01-04,0.0,0.000000,0.0,290.29614,...,0.0,0.0,0,0,0.0,0.0,NaN,0,0.500000,0.866025
4,27.5,85.0,1940,1,5,1940-01-05,0.0,0.000000,0.0,291.80084,...,0.0,0.0,0,0,0.0,0.0,NaN,0,0.500000,0.866025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470260,28.0,86.0,2025,10,27,2025-10-27,0.0,0.000874,0.0,287.77344,...,0.0,0.0,0,0,0.0,0.0,0.0,0,-0.866025,0.500000
470261,28.0,86.0,2025,10,28,2025-10-28,0.0,0.000874,0.0,287.77344,...,0.0,0.0,0,0,0.0,0.0,0.0,0,-0.866025,0.500000
470262,28.0,86.0,2025,10,29,2025-10-29,0.0,0.000874,0.0,287.77344,...,0.0,0.0,0,0,0.0,0.0,0.0,0,-0.866025,0.500000
470263,28.0,86.0,2025,10,30,2025-10-30,0.0,0.000874,0.0,287.77344,...,0.0,0.0,0,0,0.0,0.0,0.0,0,-0.866025,0.500000
470264,28.0,86.0,2025,10,31,2025-10-31,0.0,0.000874,0.0,287.77344,...,0.0,0.0,0,0,0.0,0.0,0.0,0,-0.866025,0.500000

In [110]:
df.dtypes

latitude                    float64
longitude                   float64
year                          int32
month                         int32
day                           int32
date                 datetime64[ns]
number                      float64
tp                          float64
tp_mm                       float64
t2m                         float64
t2m_C                       float64
anomaly_T2m_C               float64
heat_stress_proxy             int32
tp_7d_cum                   float64
tp_14d_cum                  float64
tp_7d_avg                   float64
rain_day                      int32
consec_rain_days              int32
tp_lag1                     float64
tp_lag3                     float64
tp_lag7                     float64
heavy_rain                    int32
month_sin                   float64
month_cos                   float64
dtype: object

In [111]:
df['t2m_C'].max()

39.38

In [112]:
df['date'] = pd.to_datetime(df['date'])

Handle missing values from lag/rolling features

In [113]:
df.fillna(0, inplace=True)

In [114]:
import pandas as pd

# --- Ensure your DataFrame is sorted ---
df = df.sort_values(['latitude','longitude','date']).copy()

# --- Function to compute heat_proxy and future heat flags ---
def compute_heat_flags(group):
    # 90th percentile threshold for the location
    threshold = group['t2m_C'].quantile(0.90)
    group['heat_proxy'] = (group['t2m_C'] >= threshold).astype(int)
    
    # Future heat flags
    group['heat_next_day']   = group['heat_proxy'].shift(-1, fill_value=0)
    group['heat_next_2days'] = group['heat_proxy'].shift(-2, fill_value=0)
    group['heat_next_3days'] = group['heat_proxy'].shift(-3, fill_value=0)
    
    return group

# --- Apply per location ---
df = df.groupby(['latitude','longitude'], group_keys=False).apply(compute_heat_flags)

# --- Check result ---
print(df[['date','latitude','longitude','t2m_C','heat_proxy','heat_next_day','heat_next_2days','heat_next_3days']].tail(10))

             date  latitude  longitude  t2m_C  heat_proxy  heat_next_day  \
470255 2025-10-22      28.0       86.0  14.62           1              1
470256 2025-10-23      28.0       86.0  14.62           1              1
470257 2025-10-24      28.0       86.0  14.62           1              1
470258 2025-10-25      28.0       86.0  14.62           1              1
470259 2025-10-26      28.0       86.0  14.62           1              1
470260 2025-10-27      28.0       86.0  14.62           1              1
470261 2025-10-28      28.0       86.0  14.62           1              1
470262 2025-10-29      28.0       86.0  14.62           1              1
470263 2025-10-30      28.0       86.0  14.62           1              1
470264 2025-10-31      28.0       86.0  14.62           1              0

        heat_next_2days  heat_next_3days
470255                1                1
470256                1                1
470257                1                1
470258                1                1
470259                1                1
470260                1                1
470261                1                1
470262                1                0
470263                0                0
470264                0                0

C:\Users\Acer\AppData\Local\Temp\ipykernel_23920\761282308.py:20: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df = df.groupby(['latitude','longitude'], group_keys=False).apply(compute_heat_flags)

In [115]:
df

,latitude,longitude,year,month,day,date,number,tp,tp_mm,t2m,...,tp_lag1,tp_lag3,tp_lag7,heavy_rain,month_sin,month_cos,heat_proxy,heat_next_day,heat_next_2days,heat_next_3days
0,27.5,85.0,1940,1,1,1940-01-01,0.0,0.000000,0.0,290.56674,...,0.0,0.0,0.0,0,0.500000,0.866025,0,0,0,0
1,27.5,85.0,1940,1,2,1940-01-02,0.0,0.000000,0.0,291.19666,...,0.0,0.0,0.0,0,0.500000,0.866025,0,0,0,0
2,27.5,85.0,1940,1,3,1940-01-03,0.0,0.000000,0.0,290.42987,...,0.0,0.0,0.0,0,0.500000,0.866025,0,0,0,0
3,27.5,85.0,1940,1,4,1940-01-04,0.0,0.000000,0.0,290.29614,...,0.0,0.0,0.0,0,0.500000,0.866025,0,0,0,0
4,27.5,85.0,1940,1,5,1940-01-05,0.0,0.000000,0.0,291.80084,...,0.0,0.0,0.0,0,0.500000,0.866025,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470260,28.0,86.0,2025,10,27,2025-10-27,0.0,0.000874,0.0,287.77344,...,0.0,0.0,0.0,0,-0.866025,0.500000,1,1,1,1
470261,28.0,86.0,2025,10,28,2025-10-28,0.0,0.000874,0.0,287.77344,...,0.0,0.0,0.0,0,-0.866025,0.500000,1,1,1,1
470262,28.0,86.0,2025,10,29,2025-10-29,0.0,0.000874,0.0,287.77344,...,0.0,0.0,0.0,0,-0.866025,0.500000,1,1,1,0
470263,28.0,86.0,2025,10,30,2025-10-30,0.0,0.000874,0.0,287.77344,...,0.0,0.0,0.0,0,-0.866025,0.500000,1,1,0,0
470264,28.0,86.0,2025,10,31,2025-10-31,0.0,0.000874,0.0,287.77344,...,0.0,0.0,0.0,0,-0.866025,0.500000,1,0,0,0

In [116]:
df.columns

Index(['latitude', 'longitude', 'year', 'month', 'day', 'date', 'number', 'tp',
       'tp_mm', 't2m', 't2m_C', 'anomaly_T2m_C', 'heat_stress_proxy',
       'tp_7d_cum', 'tp_14d_cum', 'tp_7d_avg', 'rain_day', 'consec_rain_days',
       'tp_lag1', 'tp_lag3', 'tp_lag7', 'heavy_rain', 'month_sin', 'month_cos',
       'heat_proxy', 'heat_next_day', 'heat_next_2days', 'heat_next_3days'],
      dtype='object')

In [117]:
df.columns

Index(['latitude', 'longitude', 'year', 'month', 'day', 'date', 'number', 'tp',
       'tp_mm', 't2m', 't2m_C', 'anomaly_T2m_C', 'heat_stress_proxy',
       'tp_7d_cum', 'tp_14d_cum', 'tp_7d_avg', 'rain_day', 'consec_rain_days',
       'tp_lag1', 'tp_lag3', 'tp_lag7', 'heavy_rain', 'month_sin', 'month_cos',
       'heat_proxy', 'heat_next_day', 'heat_next_2days', 'heat_next_3days'],
      dtype='object')

In [118]:
# Count 0s and 1s for the three future heat columns
for col in ['heat_next_day', 'heat_next_2days', 'heat_next_3days']:
    counts = df[col].value_counts()
    print(f"\nColumn: {col}")
    print(counts)

Column: heat_next_day
heat_next_day
0    423122
1     47143
Name: count, dtype: int64

Column: heat_next_2days
heat_next_2days
0    423122
1     47143
Name: count, dtype: int64

Column: heat_next_3days
heat_next_3days
0    423122
1     47143
Name: count, dtype: int64

In [119]:
df['heat_proxy'].value_counts()

heat_proxy
0    423122
1     47143
Name: count, dtype: int64

In [120]:
df['tp_monthly_mean'] = df.groupby('month')['tp_mm'].transform('mean')
df['tp_anomaly'] = df['tp_mm'] - df['tp_monthly_mean']
df['tp_std_anomaly'] = df.groupby('month')['tp_mm'].transform(lambda x: (x - x.mean())/x.std())

### Pre Processing

In [121]:
from sklearn.preprocessing import StandardScaler

In [122]:
# cont_features = ['tp_mm','t2m_C','tp_7d_cum','tp_14d_cum','tp_7d_avg',
#                  'tp_7d_cum','tp_14d_cum','tp_lag1','tp_lag3','tp_lag7',
#                  'anomaly_T2m_C','tp_std_anomaly','anomaly_T2m_C']
# scaler = StandardScaler()
# df[cont_features] = scaler.fit_transform(df[cont_features])

In [123]:
df.dtypes

latitude                    float64
longitude                   float64
year                          int32
month                         int32
day                           int32
date                 datetime64[ns]
number                      float64
tp                          float64
tp_mm                       float64
t2m                         float64
t2m_C                       float64
anomaly_T2m_C               float64
heat_stress_proxy             int32
tp_7d_cum                   float64
tp_14d_cum                  float64
tp_7d_avg                   float64
rain_day                      int32
consec_rain_days              int32
tp_lag1                     float64
tp_lag3                     float64
tp_lag7                     float64
heavy_rain                    int32
month_sin                   float64
month_cos                   float64
heat_proxy                    int32
heat_next_day                 int32
heat_next_2days               int32
heat_next_3days               int32
tp_monthly_mean             float64
tp_anomaly                  float64
tp_std_anomaly              float64
dtype: object

In [124]:
df = df.drop(columns=['tp','rain_day','tp_monthly_mean','number'], errors='ignore')

In [125]:
df.isna().sum()
# fill or drop if needed
df.fillna(0, inplace=True)

In [126]:
df

,latitude,longitude,year,month,day,date,tp_mm,t2m,t2m_C,anomaly_T2m_C,...,tp_lag7,heavy_rain,month_sin,month_cos,heat_proxy,heat_next_day,heat_next_2days,heat_next_3days,tp_anomaly,tp_std_anomaly
0,27.5,85.0,1940,1,1,1940-01-01,0.0,290.56674,17.42,-1.397474,...,0.0,0,0.500000,0.866025,0,0,0,0,-0.064733,-0.262361
1,27.5,85.0,1940,1,2,1940-01-02,0.0,291.19666,18.05,-0.767474,...,0.0,0,0.500000,0.866025,0,0,0,0,-0.064733,-0.262361
2,27.5,85.0,1940,1,3,1940-01-03,0.0,290.42987,17.28,-1.537474,...,0.0,0,0.500000,0.866025,0,0,0,0,-0.064733,-0.262361
3,27.5,85.0,1940,1,4,1940-01-04,0.0,290.29614,17.15,-1.667474,...,0.0,0,0.500000,0.866025,0,0,0,0,-0.064733,-0.262361
4,27.5,85.0,1940,1,5,1940-01-05,0.0,291.80084,18.65,-0.167474,...,0.0,0,0.500000,0.866025,0,0,0,0,-0.064733,-0.262361
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470260,28.0,86.0,2025,10,27,2025-10-27,0.0,287.77344,14.62,-4.197474,...,0.0,0,-0.866025,0.500000,1,1,1,1,-0.227210,-0.414442
470261,28.0,86.0,2025,10,28,2025-10-28,0.0,287.77344,14.62,-4.197474,...,0.0,0,-0.866025,0.500000,1,1,1,1,-0.227210,-0.414442
470262,28.0,86.0,2025,10,29,2025-10-29,0.0,287.77344,14.62,-4.197474,...,0.0,0,-0.866025,0.500000,1,1,1,0,-0.227210,-0.414442
470263,28.0,86.0,2025,10,30,2025-10-30,0.0,287.77344,14.62,-4.197474,...,0.0,0,-0.866025,0.500000,1,1,0,0,-0.227210,-0.414442
470264,28.0,86.0,2025,10,31,2025-10-31,0.0,287.77344,14.62,-4.197474,...,0.0,0,-0.866025,0.500000,1,0,0,0,-0.227210,-0.414442

In [127]:
# Count consecutive hot days per location
df['consec_hot_days'] = df.groupby(['latitude','longitude'])['heat_stress_proxy'] \
                           .transform(lambda x: x.groupby((x != x.shift()).cumsum()).cumsum())

# Create heatwave flag: day 3 or more of consecutive hot days
df['heatwave_flag'] = (df['consec_hot_days'] >= 3).astype(int)

# Optional: drop the helper column
df.drop(columns=['consec_hot_days'], inplace=True)

# Check
df[['latitude','longitude','date','heat_stress_proxy','heatwave_flag']].head(10)

   latitude  longitude       date  heat_stress_proxy  heatwave_flag
0      27.5       85.0 1940-01-01                  0              0
1      27.5       85.0 1940-01-02                  0              0
2      27.5       85.0 1940-01-03                  0              0
3      27.5       85.0 1940-01-04                  0              0
4      27.5       85.0 1940-01-05                  0              0
5      27.5       85.0 1940-01-06                  0              0
6      27.5       85.0 1940-01-07                  0              0
7      27.5       85.0 1940-01-08                  0              0
8      27.5       85.0 1940-01-09                  0              0
9      27.5       85.0 1940-01-10                  0              0

In [128]:
df

,latitude,longitude,year,month,day,date,tp_mm,t2m,t2m_C,anomaly_T2m_C,...,heavy_rain,month_sin,month_cos,heat_proxy,heat_next_day,heat_next_2days,heat_next_3days,tp_anomaly,tp_std_anomaly,heatwave_flag
0,27.5,85.0,1940,1,1,1940-01-01,0.0,290.56674,17.42,-1.397474,...,0,0.500000,0.866025,0,0,0,0,-0.064733,-0.262361,0
1,27.5,85.0,1940,1,2,1940-01-02,0.0,291.19666,18.05,-0.767474,...,0,0.500000,0.866025,0,0,0,0,-0.064733,-0.262361,0
2,27.5,85.0,1940,1,3,1940-01-03,0.0,290.42987,17.28,-1.537474,...,0,0.500000,0.866025,0,0,0,0,-0.064733,-0.262361,0
3,27.5,85.0,1940,1,4,1940-01-04,0.0,290.29614,17.15,-1.667474,...,0,0.500000,0.866025,0,0,0,0,-0.064733,-0.262361,0
4,27.5,85.0,1940,1,5,1940-01-05,0.0,291.80084,18.65,-0.167474,...,0,0.500000,0.866025,0,0,0,0,-0.064733,-0.262361,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470260,28.0,86.0,2025,10,27,2025-10-27,0.0,287.77344,14.62,-4.197474,...,0,-0.866025,0.500000,1,1,1,1,-0.227210,-0.414442,0
470261,28.0,86.0,2025,10,28,2025-10-28,0.0,287.77344,14.62,-4.197474,...,0,-0.866025,0.500000,1,1,1,1,-0.227210,-0.414442,0
470262,28.0,86.0,2025,10,29,2025-10-29,0.0,287.77344,14.62,-4.197474,...,0,-0.866025,0.500000,1,1,1,0,-0.227210,-0.414442,0
470263,28.0,86.0,2025,10,30,2025-10-30,0.0,287.77344,14.62,-4.197474,...,0,-0.866025,0.500000,1,1,0,0,-0.227210,-0.414442,0
470264,28.0,86.0,2025,10,31,2025-10-31,0.0,287.77344,14.62,-4.197474,...,0,-0.866025,0.500000,1,0,0,0,-0.227210,-0.414442,0

In [129]:
df['t2m_C'].max()

39.38

In [130]:
df.columns

Index(['latitude', 'longitude', 'year', 'month', 'day', 'date', 'tp_mm', 't2m',
       't2m_C', 'anomaly_T2m_C', 'heat_stress_proxy', 'tp_7d_cum',
       'tp_14d_cum', 'tp_7d_avg', 'consec_rain_days', 'tp_lag1', 'tp_lag3',
       'tp_lag7', 'heavy_rain', 'month_sin', 'month_cos', 'heat_proxy',
       'heat_next_day', 'heat_next_2days', 'heat_next_3days', 'tp_anomaly',
       'tp_std_anomaly', 'heatwave_flag'],
      dtype='object')

# Data Dictionary

| Column              | Description                                            |
| ------------------- | ------------------------------------------------------ |
| `latitude`          | Spatial info — latitude of location                    |
| `longitude`         | Spatial info — longitude of location                   |
| `year`              | Year of observation                                    |
| `month`             | Month of observation                                   |
| `day`               | Day of observation                                     |
| `date`              | Full date (datetime)                                   |
| `tp_mm`             | Raw precipitation (mm)                                 |
| `t2m`               | Temperature (K)                                        |
| `t2m_C`             | Temperature (°C)                                       |
| `anomaly_T2m_C`     | Temperature anomaly relative to monthly mean           |
| `heat_stress_proxy` | Binary: 1 if hot day (target for heat stress model)    |
| `tp_7d_cum`         | 7-day cumulative precipitation                         |
| `tp_14d_cum`        | 14-day cumulative precipitation                        |
| `tp_7d_avg`         | 7-day rolling average precipitation                    |
| `consec_rain_days`  | Consecutive rainy days                                 |
| `tp_lag1`           | Precipitation lag 1 day                                |
| `tp_lag3`           | Precipitation lag 3 days                               |
| `tp_lag7`           | Precipitation lag 7 days                               |
| `heavy_rain`        | Binary flag for extreme rain (>10 mm)                  |
| `month_sin`         | Seasonal cyclic encoding (sin)                         |
| `month_cos`         | Seasonal cyclic encoding (cos)                         |
| `tp_anomaly`        | Precipitation anomaly relative to monthly mean         |
| `tp_std_anomaly`    | Standardized precipitation anomaly                     |
| `heatwave_flag`     | Binary: 1 if 3+ consecutive hot days (heatwave target) |

In [131]:
df

,latitude,longitude,year,month,day,date,tp_mm,t2m,t2m_C,anomaly_T2m_C,...,heavy_rain,month_sin,month_cos,heat_proxy,heat_next_day,heat_next_2days,heat_next_3days,tp_anomaly,tp_std_anomaly,heatwave_flag
0,27.5,85.0,1940,1,1,1940-01-01,0.0,290.56674,17.42,-1.397474,...,0,0.500000,0.866025,0,0,0,0,-0.064733,-0.262361,0
1,27.5,85.0,1940,1,2,1940-01-02,0.0,291.19666,18.05,-0.767474,...,0,0.500000,0.866025,0,0,0,0,-0.064733,-0.262361,0
2,27.5,85.0,1940,1,3,1940-01-03,0.0,290.42987,17.28,-1.537474,...,0,0.500000,0.866025,0,0,0,0,-0.064733,-0.262361,0
3,27.5,85.0,1940,1,4,1940-01-04,0.0,290.29614,17.15,-1.667474,...,0,0.500000,0.866025,0,0,0,0,-0.064733,-0.262361,0
4,27.5,85.0,1940,1,5,1940-01-05,0.0,291.80084,18.65,-0.167474,...,0,0.500000,0.866025,0,0,0,0,-0.064733,-0.262361,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470260,28.0,86.0,2025,10,27,2025-10-27,0.0,287.77344,14.62,-4.197474,...,0,-0.866025,0.500000,1,1,1,1,-0.227210,-0.414442,0
470261,28.0,86.0,2025,10,28,2025-10-28,0.0,287.77344,14.62,-4.197474,...,0,-0.866025,0.500000,1,1,1,1,-0.227210,-0.414442,0
470262,28.0,86.0,2025,10,29,2025-10-29,0.0,287.77344,14.62,-4.197474,...,0,-0.866025,0.500000,1,1,1,0,-0.227210,-0.414442,0
470263,28.0,86.0,2025,10,30,2025-10-30,0.0,287.77344,14.62,-4.197474,...,0,-0.866025,0.500000,1,1,0,0,-0.227210,-0.414442,0
470264,28.0,86.0,2025,10,31,2025-10-31,0.0,287.77344,14.62,-4.197474,...,0,-0.866025,0.500000,1,0,0,0,-0.227210,-0.414442,0

In [132]:
df.columns

Index(['latitude', 'longitude', 'year', 'month', 'day', 'date', 'tp_mm', 't2m',
       't2m_C', 'anomaly_T2m_C', 'heat_stress_proxy', 'tp_7d_cum',
       'tp_14d_cum', 'tp_7d_avg', 'consec_rain_days', 'tp_lag1', 'tp_lag3',
       'tp_lag7', 'heavy_rain', 'month_sin', 'month_cos', 'heat_proxy',
       'heat_next_day', 'heat_next_2days', 'heat_next_3days', 'tp_anomaly',
       'tp_std_anomaly', 'heatwave_flag'],
      dtype='object')

This will tell the fraction of rows where the forward-looking heat values match your heat_proxy shifts.

If any of the fractions are less than 1.0, it means some values may be off — probably due to thresholding or grouping.

In [ ]:
import pandas as pd

# Assuming your DataFrame is called df
# Sort by location and date just to be safe
df = df.sort_values(['latitude', 'longitude', 'date'])

# # Shift heat_proxy to get next days
# df['check_next_day'] = df.groupby(['latitude', 'longitude'])['heat_proxy'].shift(-1)
# df['check_next_2days'] = df.groupby(['latitude', 'longitude'])['heat_proxy'].shift(-2)
# df['check_next_3days'] = df.groupby(['latitude', 'longitude'])['heat_proxy'].shift(-3)

# Compare with your existing columns
df['next_day_match'] = df['heat_next_day'] == df['check_next_day']
df['next_2days_match'] = df['heat_next_2days'] == df['check_next_2days']
df['next_3days_match'] = df['heat_next_3days'] == df['check_next_3days']

# Summary
summary = df[['next_day_match', 'next_2days_match', 'next_3days_match']].mean()
print("Fraction of rows matching:")
print(summary)

Fraction of rows matching:
next_day_match      0.999968
next_2days_match    0.999936
next_3days_match    0.999904
dtype: float64

In [144]:
df.drop(columns=["check_next_day","check_next_2days",'check_next_3days'], inplace=True)

Those fractions are extremely high, meaning heat_next_day, heat_next_2days, and heat_next_3days columns now almost exactly match the expected values.

A few notes:

The tiny mismatches (~0.01%) are likely due to month boundaries or missing days—which is normal if the dataset has gaps or leap years.

With this version, the future heat flags are consistent across consecutive days.

In [134]:
gaps = (
    df.groupby(['latitude','longitude'])['date']
    .apply(lambda x: x.diff().dt.days.ne(1).sum())
)
print(gaps[gaps > 0])

latitude  longitude
27.50     85.00        1
          85.25        1
          85.50        1
          85.75        1
          86.00        1
27.75     85.00        1
          85.25        1
          85.50        1
          85.75        1
          86.00        1
28.00     85.00        1
          85.25        1
          85.50        1
          85.75        1
          86.00        1
Name: date, dtype: int64

In [135]:
import pandas as pd
import numpy as np

# Fill NaNs in future heat columns with 0
for col in ['heat_next_day', 'heat_next_2days', 'heat_next_3days']:
    df[col] = df[col].fillna(0).astype(int)

# Optional: double-check
print(df[['date','heat_proxy','heat_next_day','heat_next_2days','heat_next_3days']].tail(10))

             date  heat_proxy  heat_next_day  heat_next_2days  heat_next_3days
470255 2025-10-22           1              1                1                1
470256 2025-10-23           1              1                1                1
470257 2025-10-24           1              1                1                1
470258 2025-10-25           1              1                1                1
470259 2025-10-26           1              1                1                1
470260 2025-10-27           1              1                1                1
470261 2025-10-28           1              1                1                1
470262 2025-10-29           1              1                1                0
470263 2025-10-30           1              1                0                0
470264 2025-10-31           1              0                0                0

In [136]:
df.to_csv("../dataset/training.csv", index=False)

In [140]:
df.dtypes

latitude                    float64
longitude                   float64
year                          int32
month                         int32
day                           int32
date                 datetime64[ns]
tp_mm                       float64
t2m                         float64
t2m_C                       float64
anomaly_T2m_C               float64
heat_stress_proxy             int32
tp_7d_cum                   float64
tp_14d_cum                  float64
tp_7d_avg                   float64
consec_rain_days              int32
tp_lag1                     float64
tp_lag3                     float64
tp_lag7                     float64
heavy_rain                    int32
month_sin                   float64
month_cos                   float64
heat_proxy                    int32
heat_next_day                 int32
heat_next_2days               int32
heat_next_3days               int32
tp_anomaly                  float64
tp_std_anomaly              float64
heatwave_flag                 int32
check_next_day              float64
check_next_2days            float64
check_next_3days            float64
next_day_match                 bool
next_2days_match               bool
next_3days_match               bool
dtype: object

In [141]:
import pandas as pd

# Make sure data is sorted by location and date
df = df.sort_values(['latitude', 'longitude', 'date']).copy()

# Compute shifted columns for checking
df['check_next_day'] = df.groupby(['latitude','longitude'])['heat_proxy'].shift(-1, fill_value=0)
df['check_next_2days'] = df.groupby(['latitude','longitude'])['heat_proxy'].shift(-2, fill_value=0)
df['check_next_3days'] = df.groupby(['latitude','longitude'])['heat_proxy'].shift(-3, fill_value=0)

# Compare with your existing columns
df['next_day_match'] = df['heat_next_day'] == df['check_next_day']
df['next_2days_match'] = df['heat_next_2days'] == df['check_next_2days']
df['next_3days_match'] = df['heat_next_3days'] == df['check_next_3days']

# Summary: fraction of rows matching
summary = df[['next_day_match','next_2days_match','next_3days_match']].mean()
print("Fraction of rows matching:")
print(summary)

Fraction of rows matching:
next_day_match      1.0
next_2days_match    1.0
next_3days_match    1.0
dtype: float64

A fraction close to 1.0 means the heat_next_* columns are correctly shifted.

In [142]:
df.columns

Index(['latitude', 'longitude', 'year', 'month', 'day', 'date', 'tp_mm', 't2m',
       't2m_C', 'anomaly_T2m_C', 'heat_stress_proxy', 'tp_7d_cum',
       'tp_14d_cum', 'tp_7d_avg', 'consec_rain_days', 'tp_lag1', 'tp_lag3',
       'tp_lag7', 'heavy_rain', 'month_sin', 'month_cos', 'heat_proxy',
       'heat_next_day', 'heat_next_2days', 'heat_next_3days', 'tp_anomaly',
       'tp_std_anomaly', 'heatwave_flag', 'check_next_day', 'check_next_2days',
       'check_next_3days', 'next_day_match', 'next_2days_match',
       'next_3days_match'],
      dtype='object')

In [ ]:
df.to_csv("../dataset/training_final.csv", index=False)

NameError: name 'df' is not defined

In [11]:
import pandas as pd
df = pd.read_csv("../../dataset/final/merged_dataset_final_all_pp.csv")

In [12]:
df1.columns

Index(['latitude', 'longitude', 'nearest_lat', 'nearest_lon', 'distance',
       'year', 'month', 'day', 'tp_mm', 't2m_C', 'anomaly_T2m_C',
       'heat_stress_proxy', 'tp_7d_cum', 'tp_14d_cum', 'tp_7d_avg',
       'consec_rain_days', 'tp_lag1', 'tp_lag3', 'tp_lag7', 'heavy_rain',
       'month_sin', 'month_cos', 'heat_proxy', 'heat_next_day',
       'heat_next_2days', 'heat_next_3days', 'tp_anomaly', 'tp_std_anomaly',
       'heatwave_flag', 'next_day_match', 'next_2days_match',
       'next_3days_match', 'lat', 'lon', 'ph', 'organic_matter',
       'total_nitrogen', 'potassium', 'p2o5', 'boron', 'zinc', 'sand', 'clay',
       'slit', 'parentsoil', 'province', 'district', 'palika', 'crop',
       'variety', 'UREA1', 'UREA2', 'UREA3', 'DAP', 'MOP', 'organic',
       'boron_fert', 'palika_num'],
      dtype='object')

In [16]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# List of essential numeric features
essential_numeric = [
    'tp_mm', 't2m_C', 'anomaly_T2m_C',
    'tp_7d_cum', 'tp_14d_cum', 'tp_7d_avg',
    'consec_rain_days', 'tp_lag1', 'tp_lag3', 'tp_lag7',
    'ph', 'organic_matter', 'total_nitrogen', 'potassium', 'p2o5',
    'boron', 'zinc', 'sand', 'clay', 'slit',
    'UREA1', 'UREA2', 'UREA3', 'DAP', 'MOP', 'organic', 'boron_fert'
]

# Select only essential numeric columns
df_numeric = df[essential_numeric]

# Compute correlation matrix
corr_matrix = df_numeric.corr()
corr_matrix

# # Plot
# plt.figure(figsize=(30,18))
# sns.heatmap(corr_matrix, annot=True, fmt=".2f", cmap="coolwarm", cbar=True)
# plt.title("Correlation Matrix for Essential Numeric Features")
# plt.show()

,tp_mm,t2m_C,anomaly_T2m_C,tp_7d_cum,tp_14d_cum,tp_7d_avg,consec_rain_days,tp_lag1,tp_lag3,tp_lag7,...,sand,clay,slit,UREA1,UREA2,UREA3,DAP,MOP,organic,boron_fert
tp_mm,1.000000,0.085807,0.085807,0.499147,0.444070,0.499147,0.666973,0.242514,0.116559,0.061945,...,0.021096,0.013245,-0.028945,0.027544,0.039665,0.039665,0.017374,0.011660,NaN,NaN
t2m_C,0.085807,1.000000,1.000000,0.211326,0.269719,0.211326,0.030031,0.097105,0.118315,0.138678,...,-0.331860,-0.269456,0.411313,0.169034,-0.076813,-0.076813,-0.321083,-0.159004,NaN,NaN
anomaly_T2m_C,0.085807,1.000000,1.000000,0.211326,0.269719,0.211326,0.030031,0.097105,0.118315,0.138678,...,-0.331860,-0.269456,0.411313,0.169034,-0.076813,-0.076813,-0.321083,-0.159004,NaN,NaN
tp_7d_cum,0.499147,0.211326,0.211326,1.000000,0.843817,1.000000,0.463929,0.542853,0.570761,0.252659,...,0.040874,0.023859,-0.054342,0.050179,0.072796,0.072796,0.032346,0.021325,NaN,NaN
tp_14d_cum,0.444070,0.269719,0.269719,0.843817,1.000000,0.843817,0.402940,0.462565,0.468652,0.445477,...,0.053250,0.026905,-0.066971,0.059655,0.088047,0.088047,0.040447,0.027214,NaN,NaN
tp_7d_avg,0.499147,0.211326,0.211326,1.000000,0.843817,1.000000,0.463929,0.542853,0.570761,0.252659,...,0.040874,0.023859,-0.054342,0.050179,0.072796,0.072796,0.032346,0.021325,NaN,NaN
consec_rain_days,0.666973,0.030031,0.030031,0.463929,0.402940,0.463929,1.000000,0.347618,0.154662,0.042335,...,0.041768,0.025097,-0.055854,0.029963,0.069238,0.069238,0.053930,0.033313,NaN,NaN
tp_lag1,0.242514,0.097105,0.097105,0.542853,0.462565,0.542853,0.347618,1.000000,0.227015,0.076178,...,0.021173,0.013309,-0.029210,0.027462,0.039364,0.039364,0.017071,0.011512,NaN,NaN
tp_lag3,0.116559,0.118315,0.118315,0.570761,0.468652,0.570761,0.154662,0.227015,1.000000,0.134578,...,0.022216,0.013000,-0.029643,0.027371,0.039592,0.039592,0.017486,0.011653,NaN,NaN
tp_lag7,0.061945,0.138678,0.138678,0.252659,0.445477,0.252659,0.042335,0.076178,0.134578,1.000000,...,0.024259,0.012401,-0.030467,0.027039,0.040051,0.040051,0.018526,0.012171,NaN,NaN
ph,0.016420,-0.106292,-0.106292,0.028210,0.030271,0.028210,0.035763,0.015987,0.015323,0.013979,...,-0.178841,0.218765,-0.034346,0.037449,0.138541,0.138541,0.139469,0.044923,NaN,NaN
organic_matter,-0.024720,0.121034,0.121034,-0.044604,-0.051890,-0.044604,-0.043891,-0.024471,-0.024158,-0.023825,...,0.131781,-0.078336,-0.070798,-0.201413,-0.140126,-0.140126,0.073109,0.229716,NaN,NaN
total_nitrogen,-0.012237,-0.087423,-0.087423,-0.021954,-0.025105,-0.021954,-0.010722,-0.012146,-0.011939,-0.011242,...,0.243068,0.247206,-0.320557,-0.430486,-0.152227,-0.152227,0.354330,0.327178,NaN,NaN
potassium,0.015001,0.247282,0.247282,0.027651,0.033145,0.027651,0.007700,0.014955,0.014926,0.014990,...,0.119811,-0.526246,0.216238,0.400963,0.285319,0.285319,-0.137049,-0.102936,NaN,NaN
p2o5,0.007593,0.358226,0.358226,0.014064,0.016400,0.014064,-0.025585,0.007637,0.007835,0.007495,...,-0.144328,-0.718208,0.506702,0.620923,0.077156,0.077156,-0.701886,-0.296337,NaN,NaN
boron,-0.012511,0.273962,0.273962,-0.025831,-0.035636,-0.025831,-0.037308,-0.012835,-0.014264,-0.016084,...,-0.595286,-0.333739,0.688581,0.189179,-0.184705,-0.184705,-0.492258,-0.404884,NaN,NaN
zinc,0.020409,-0.114616,-0.114616,0.040284,0.053046,0.040284,0.037061,0.021003,0.021990,0.023504,...,0.517316,0.090809,-0.495411,-0.009722,0.330250,0.330250,0.453570,0.318373,NaN,NaN
sand,0.021096,-0.331860,-0.331860,0.040874,0.053250,0.040874,0.041768,0.021173,0.022216,0.024259,...,1.000000,0.066180,-0.751257,-0.031886,0.299048,0.299048,0.440057,0.454006,NaN,NaN
clay,0.013245,-0.269456,-0.269456,0.023859,0.026905,0.023859,0.025097,0.013309,0.013000,0.012401,...,0.066180,1.000000,-0.654753,-0.553921,-0.150100,-0.150100,0.516020,0.268351,NaN,NaN
slit,-0.028945,0.411313,0.411313,-0.054342,-0.066971,-0.054342,-0.055854,-0.029210,-0.029643,-0.030467,...,-0.751257,-0.654753,1.000000,0.296272,-0.190894,-0.190894,-0.638210,-0.522884,NaN,NaN
UREA1,0.027544,0.169034,0.169034,0.050179,0.059655,0.050179,0.029963,0.027462,0.027371,0.027039,...,-0.031886,-0.553921,0.296272,1.000000,0.713123,0.713123,-0.341534,0.128055,NaN,NaN
UREA2,0.039665,-0.076813,-0.076813,0.072796,0.088047,0.072796,0.069238,0.039364,0.039592,0.040051,...,0.299048,-0.150100,-0.190894,0.713123,1.000000,1.000000,0.415304,0.614771,NaN,NaN
UREA3,0.039665,-0.076813,-0.076813,0.072796,0.088047,0.072796,0.069238,0.039364,0.039592,0.040051,...,0.299048,-0.150100,-0.190894,0.713123,1.000000,1.000000,0.415304,0.614771,NaN,NaN
DAP,0.017374,-0.321083,-0.321083,0.032346,0.040447,0.032346,0.053930,0.017071,0.017486,0.018526,...,0.440057,0.516020,-0.638210,-0.341534,0.415304,0.415304,1.000000,0.656709,NaN,NaN
MOP,0.011660,-0.159004,-0.159004,0.021325,0.027214,0.021325,0.033313,0.011512,0.011653,0.012171,...,0.454006,0.268351,-0.522884,0.128055,0.614771,0.614771,0.656709,1.000000,NaN,NaN
organic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
boron_fert,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN