Import Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Import Dataset

In [2]:
df = pd.read_csv("../dataset/kathmandu_valley_tp.csv")

In [3]:
print(df.head())

            valid_time  latitude  longitude            tp  number  expver
0  1940-01-01 09:00:00      28.0      85.00  1.201630e-04       0       1
1  1940-01-01 09:00:00      28.0      85.25  8.344650e-05       0       1
2  1940-01-01 09:00:00      28.0      85.50  3.194809e-05       0       1
3  1940-01-01 09:00:00      28.0      85.75  9.536743e-07       0       1
4  1940-01-01 09:00:00      28.0      86.00  0.000000e+00       0       1

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293190 entries, 0 to 293189
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   valid_time  293190 non-null  object
 1   latitude    293190 non-null  float64
 2   longitude   293190 non-null  float64
 3   tp          293190 non-null  float64
 4   number      293190 non-null  int64
 5   expver      293190 non-null  int64
dtypes: float64(3), int64(2), object(1)
memory usage: 13.4+ MB
None

In [5]:
print(df.describe)

<bound method NDFrame.describe of                  valid_time  latitude  longitude            tp  number  expver
0       1940-01-01 09:00:00      28.0      85.00  1.201630e-04       0       1
1       1940-01-01 09:00:00      28.0      85.25  8.344650e-05       0       1
2       1940-01-01 09:00:00      28.0      85.50  3.194809e-05       0       1
3       1940-01-01 09:00:00      28.0      85.75  9.536743e-07       0       1
4       1940-01-01 09:00:00      28.0      86.00  0.000000e+00       0       1
...                     ...       ...        ...           ...     ...     ...
293185  2025-09-19 09:00:00      27.5      85.00  2.793789e-03       0       5
293186  2025-09-19 09:00:00      27.5      85.25  2.828121e-03       0       5
293187  2025-09-19 09:00:00      27.5      85.50  3.611565e-03       0       5
293188  2025-09-19 09:00:00      27.5      85.75  8.955002e-04       0       5
293189  2025-09-19 09:00:00      27.5      86.00  9.889603e-04       0       5

[293190 rows x 6 columns]>

Preprocessing

In [6]:
df["valid_time"] = pd.to_datetime(df["valid_time"])

In [7]:
print(df["valid_time"].dtype)

datetime64[ns]

In [9]:
df['tp_mm'] = df['tp'] * 1000

Day, Month and Year are extracted from the datetime column and stored in separate columns.

In [10]:
df["year"] = df["valid_time"].dt.year
df["month"] = df["valid_time"].dt.month
df["day"] = df["valid_time"].dt.day
df["date"] = df["valid_time"].dt.date

In [11]:
df.head(20)

,valid_time,latitude,longitude,tp,number,expver,year,month,day,date,tp_mm
0,1940-01-01 09:00:00,28.00,85.00,1.201630e-04,0,1,1940,1,1,1940-01-01,0.120163
1,1940-01-01 09:00:00,28.00,85.25,8.344650e-05,0,1,1940,1,1,1940-01-01,0.083446
2,1940-01-01 09:00:00,28.00,85.50,3.194809e-05,0,1,1940,1,1,1940-01-01,0.031948
3,1940-01-01 09:00:00,28.00,85.75,9.536743e-07,0,1,1940,1,1,1940-01-01,0.000954
4,1940-01-01 09:00:00,28.00,86.00,0.000000e+00,0,1,1940,1,1,1940-01-01,0.000000
5,1940-01-01 09:00:00,27.75,85.00,3.004074e-05,0,1,1940,1,1,1940-01-01,0.030041
6,1940-01-01 09:00:00,27.75,85.25,1.907349e-05,0,1,1940,1,1,1940-01-01,0.019073
7,1940-01-01 09:00:00,27.75,85.50,7.629395e-06,0,1,1940,1,1,1940-01-01,0.007629
8,1940-01-01 09:00:00,27.75,85.75,0.000000e+00,0,1,1940,1,1,1940-01-01,0.000000
9,1940-01-01 09:00:00,27.75,86.00,0.000000e+00,0,1,1940,1,1,1940-01-01,0.000000
10,1940-01-01 09:00:00,27.50,85.00,0.000000e+00,0,1,1940,1,1,1940-01-01,0.000000
11,1940-01-01 09:00:00,27.50,85.25,0.000000e+00,0,1,1940,1,1,1940-01-01,0.000000
12,1940-01-01 09:00:00,27.50,85.50,0.000000e+00,0,1,1940,1,1,1940-01-01,0.000000
13,1940-01-01 09:00:00,27.50,85.75,0.000000e+00,0,1,1940,1,1,1940-01-01,0.000000
14,1940-01-01 09:00:00,27.50,86.00,0.000000e+00,0,1,1940,1,1,1940-01-01,0.000000
15,1940-01-02 09:00:00,28.00,85.00,0.000000e+00,0,1,1940,1,2,1940-01-02,0.000000
16,1940-01-02 09:00:00,28.00,85.25,0.000000e+00,0,1,1940,1,2,1940-01-02,0.000000
17,1940-01-02 09:00:00,28.00,85.50,0.000000e+00,0,1,1940,1,2,1940-01-02,0.000000
18,1940-01-02 09:00:00,28.00,85.75,0.000000e+00,0,1,1940,1,2,1940-01-02,0.000000
19,1940-01-02 09:00:00,28.00,86.00,0.000000e+00,0,1,1940,1,2,1940-01-02,0.000000

In [12]:
print(df.isna().sum())

valid_time    0
latitude      0
longitude     0
tp            0
number        0
expver        0
year          0
month         0
day           0
date          0
tp_mm         0
dtype: int64

Datase OVerview

In [13]:
print( df.shape)
print("Time range:", df["valid_time"].min(), "to", df["valid_time"].max())
print("Latitudes Coun:", df["latitude"].nunique())
print("latitudes:", df["latitude"].unique())
print("longitudes count:", df["longitude"].nunique())
print("longitudes count:", df["longitude"].unique())

print("Missing values:\n", df.isna().sum())

(293190, 11)
Time range: 1940-01-01 09:00:00 to 2025-09-19 09:00:00
Latitudes Coun: 3
latitudes: [28.   27.75 27.5 ]
longitudes count: 5
longitudes count: [85.   85.25 85.5  85.75 86.  ]
Missing values:
 valid_time    0
latitude      0
longitude     0
tp            0
number        0
expver        0
year          0
month         0
day           0
date          0
tp_mm         0
dtype: int64

Temperature Statistics

In [14]:
df["tp"].describe()

count    293190.000000
mean          0.000605
std           0.001053
min           0.000000
25%           0.000009
50%           0.000165
75%           0.000760
max           0.027397
Name: tp, dtype: float64

| Statistic | Temperature (°C) | Description |
|-----------|----------------|-------------|
| Mean      | 18.82          | Average temperature across all observations. |
| Std Dev   | 6.30           | Measures how much temperatures vary around the mean,<br> Most daily temperatures are roughly 12–25°C (mean ± std).. |
| Min       | -8.72          | Coldest temperature recorded. |
| 25% (Q1)  | 15.01          | 25% of temperatures are below this value. |
| Median    | 19.74          | Middle value; half of temperatures are below, half above. |
| 75% (Q3)  | 23.38          | 75% of temperatures are below this value. |
| Max       | 39.38          | Hottest temperature recorded. |

This one is for yearly average temperature

In [15]:
yearly_avg = df.groupby("year")["tp"].mean()
print(yearly_avg.head(-1))

year
1940    0.000558
1941    0.000570
1942    0.000611
1943    0.000692
1944    0.000523
          ...
2020    0.000643
2021    0.000649
2022    0.000563
2023    0.000576
2024    0.000583
Name: tp, Length: 85, dtype: float64

In [16]:
# # Filter for a specific location (Kathmandu approx)
# lat_target = 27.75
# lon_target = 85.25

# df_loc = df[(df["latitude"] == lat_target) & (df["longitude"] == lon_target)].copy()
# # Define extremes
# heat_threshold = 32
# cold_threshold = 5
# df["heat_stress"] = df["t2m_C"] > heat_threshold
# df["cold_stress"] = df["t2m_C"] < cold_threshold

verage Monthly Temperature per 5-Year Period

In [17]:
# # 5-year bin
# df["five_year_start"] = (df["year"] // 5) * 5
# df["five_year_end"] = df["five_year_start"] + 4
# df["five_year_label"] = df["five_year_start"].astype(str) + df["five_year_end"].astype(str)

# #monthly average per 5-year period for the selected location
# monthly_avg_5y = df_loc.groupby(["five_year_label", "month"])["t2m_C"].mean().unstack()

# plt.figure(figsize=(12,6))
# sns.heatmap(monthly_avg_5y, annot=True, fmt=".1f", cmap="coolwarm")
# plt.title(f"Average Monthly Temperature per 5-Year Period\nLocation: {df['latitude'].iloc[0]}N, {df['longitude'].iloc[0]}E")
# plt.xlabel("Month")
# plt.ylabel("5-Year Period")
# plt.show()

In [ ]:

# yearly_avg = df.groupby("year")["t2m_C"].mean()

# rolling_avg = yearly_avg.rolling(window=5).mean()

In [18]:
# import pandas as pd
# import matplotlib.pyplot as plt


# # Count days with heat/cold stress per year (if any hour in a day exceeds threshold, count as 1)
# daily_stress = df_loc.groupby(["year", "date"]).agg({
#     "heat_stress": "max",
#     "cold_stress": "max"
# }).reset_index()

# # Summarize per year
# extreme_yearly = daily_stress.groupby("year")[["heat_stress","cold_stress"]].sum().reset_index()


# plt.figure(figsize=(14,5))
# plt.plot(extreme_yearly["year"], extreme_yearly["heat_stress"], color="red", label=f"Heat stress (>{heat_threshold}°C)")
# plt.plot(extreme_yearly["year"], extreme_yearly["cold_stress"], color="blue", label=f"Cold stress (<{cold_threshold}°C)")
# plt.title(f"Extreme Temperature Days per Year at 9am\nLocation: {df_loc['latitude'].iloc[0]}N, {df_loc['longitude'].iloc[0]}E")
# plt.xlabel("Year")
# plt.ylabel("Number of Days")
# plt.legend()
# plt.show()
# print("The reason there is less number of heat stress just 3 exceeding 32 degree is: Dataset which I have used if of 9 am in the morning, so less heat. Need to download more.")

Extreme Temperature Days per Year – Kathmandu Valley

In [19]:
# df

In [20]:
# import pandas as pd
# import matplotlib.pyplot as plt


# df['date'] = df['valid_time'].dt.date

# # Count unique days with heat/cold stress per year
# heat_days = df[df["heat_stress"]].groupby("year")["date"].nunique()
# cold_days = df[df["cold_stress"]].groupby("year")["date"].nunique()

# #combine into single df
# extreme_yearly = pd.DataFrame({
#     "year": heat_days.index,
#     "heat_stress_days": heat_days.values,
#     "cold_stress_days": cold_days.reindex(heat_days.index, fill_value=0).values
# })

# plt.figure(figsize=(14,5))
# plt.plot(extreme_yearly["year"], extreme_yearly["heat_stress_days"], color="red", label=f"Heat stress (>{heat_threshold}°C)")
# plt.plot(extreme_yearly["year"], extreme_yearly["cold_stress_days"], color="blue", label=f"Cold stress (<{cold_threshold}°C)")
# plt.title("Extreme Temperature Days per Year – Kathmandu Valley")
# plt.xlabel("Year")
# plt.ylabel("Number of Days")
# plt.legend()
# plt.show()

#Mistake

In [ ]:

# import pandas as pd
# import matplotlib.pyplot as plt

# df["year"] = df["valid_time"].dt.year

# df["heat_stress"] = df["t2m_C"] > 32
# df["cold_stress"] = df["t2m_C"] < 5

# extreme_yearly = df.groupby("year").agg({
#     "heat_stress": "sum",
#     "cold_stress": "sum"
# }).reset_index()

# plt.figure(figsize=(14,5))
# plt.plot(extreme_yearly["year"], extreme_yearly["heat_stress"], color="red", label="Heat stress (>30°C)")
# plt.plot(extreme_yearly["year"], extreme_yearly["cold_stress"], color="blue", label="Cold stress (<5°C)")
# plt.title("Extreme Temperature Days per Year Kathmandu Valley")
# plt.xlabel("Year")
# plt.ylabel("Number of Days")
# plt.legend()
# plt.show()

In [21]:
# import pandas as pd

# total_high_temp = (df_loc["t2m_C"] > 30).sum()

# print(f"Total times temperature > 30°C: {total_high_temp}")

Mistake as there are multiple grid points (lat, lon) so need to filter using a single location

In [ ]:
# import pandas as pd
# import matplotlib.pyplot as plt 

# # Load CSV
# df["year"] = df["valid_time"].dt.year

# # Calculate yearly max and min temperature
# yearly_temp = df.groupby("year")["t2m_C"].agg(["max", "min", "mean"]).reset_index()

# # Find absolute highest and lowest temperatures
# max_temp = yearly_temp["max"].max()
# max_year = yearly_temp.loc[yearly_temp["max"] == max_temp, "year"].values[0]

# min_temp = yearly_temp["min"].min()
# min_year = yearly_temp.loc[yearly_temp["min"] == min_temp, "year"].values[0]

# # Plot
# plt.figure(figsize=())
# plt.plot(yearly_temp["year"], yearly_temp["max"], color="red", label="Max Temp")
# plt.plot(yearly_temp["year"], yearly_temp["min"], color="blue", label="Min Temp")
# plt.plot(yearly_temp["year"], yearly_temp["mean"], color="green", label="Avg Temp")


# # Mark the highest and lowest temperatures
# plt.scatter(max_year, max_temp, color="darkred", s=100, label=f"Highest: {max_temp:.1f}°C ({max_year})")
# plt.scatter(min_year, min_temp, color="darkblue", s=100, label=f"Lowest: {min_temp:.1f}°C ({min_year})")

# plt.title("Yearly Maximum and Minimum Temperature with Extremes")
# plt.xlabel("Year")
# plt.ylabel("Temperature (°C)")
# plt.legend()
# plt.show()

Yearly Max, Min, and Mean Temperature Location

In [22]:
# import pandas as pd
# import matplotlib.pyplot as plt

# df_loc = df[(df["latitude"] == lat_target) & (df["longitude"] == lon_target)].copy()

# #yearly min max mean
# yearly_temp = df_loc.groupby("year")["t2m_C"].agg(["max", "min", "mean"]).reset_index()

# #highest and lowest temperatures
# max_temp = yearly_temp["max"].max()
# max_year = yearly_temp.loc[yearly_temp["max"] == max_temp, "year"].values[0]

# min_temp = yearly_temp["min"].min()
# min_year = yearly_temp.loc[yearly_temp["min"] == min_temp, "year"].values[0]


# plt.figure(figsize=(14,6))
# plt.plot(yearly_temp["year"], yearly_temp["max"], color="red", label="Max Temp")
# plt.plot(yearly_temp["year"], yearly_temp["min"], color="blue", label="Min Temp")
# plt.plot(yearly_temp["year"], yearly_temp["mean"], color="green", label="Avg Temp")

# #marking highest and lowest temperatures
# plt.scatter(max_year, max_temp, color="darkred", s=100, label=f"Highest: {max_temp:.1f}°C ({max_year})")
# plt.scatter(min_year, min_temp, color="darkblue", s=100, label=f"Lowest: {min_temp:.1f}°C ({min_year})")

# plt.title(f"Yearly Max, Min, and Mean Temperature at 9 am at Location: {lat_target}N, {lon_target}E")
# plt.xlabel("Year")
# plt.ylabel("Temperature (°C)")
# plt.legend()
# plt.tight_layout()
# plt.show()

Whole Kathmandu Valley Area

In [23]:
# import pandas as pd
# import matplotlib.pyplot as plt


# # Define rice growth stages
# def rice_stage(month):
#     if month == 6:
#         return "Germination"
#     elif month == 6 or month == 7:
#         return "Seedling"
#     elif month == 7 or month == 8:
#         return "Vegetative"
#     elif month == 8 or month == 9:
#         return "Reproductive"
#     elif month == 9 or month == 10:
#         return "Grain Filling"
#     else:
#         return "Off-season"

# df["growth_stage"] = df["month"].apply(rice_stage)

# heat_stage_year = df[df["growth_stage"]!="Off-season"].groupby(["year","growth_stage"])["heat_stress"].sum().unstack().fillna(0)

# ax = heat_stage_year.plot(kind="bar", stacked=True, colormap="Reds_r", figsize=(14,6), width=0.8)
# ax.set_title("Heat Stress Days per Rice Growth Stage (Yearly)")
# ax.set_xlabel("Year")
# ax.set_ylabel("Number of Heat Stress Days (>35°C)")
# plt.xticks(rotation=45)
# plt.tight_layout()
# plt.show()

Now,

Heat Stress Days per Rice Growth Stage (Yearly)

In [24]:
# import pandas as pd
# import matplotlib.pyplot as plt

# # Filter for Kathmandu approx location
# lat_target = 27.75
# lon_target = 85.25
# df_loc = df[(df["latitude"] == lat_target) & (df["longitude"] == lon_target)].copy()

# # Define threshold
# heat_threshold = 25
# df_loc["heat_stress"] = df_loc["t2m_C"] > heat_threshold

# # Define rice growth stages
# def rice_stage(month):
#     if month == 6:
#         return "Germination"
#     elif month in [6, 7]:
#         return "Seedling"
#     elif month in [7, 8]:
#         return "Vegetative"
#     elif month in [8, 9]:
#         return "Reproductive"
#     elif month in [9, 10]:
#         return "Grain Filling"
#     else:
#         return "Off-season"

# df_loc["growth_stage"] = df_loc["month"].apply(rice_stage)

# heat_stage_year = (
#     df_loc[df_loc["growth_stage"] != "Off-season"]
#     .groupby(["year", "growth_stage"])["heat_stress"]
#     .sum()
#     .unstack()
#     .fillna(0)
# )

# # Plot
# ax = heat_stage_year.plot(
#     kind="bar", stacked=True,colormap="Reds_r", figsize=(14, 6), width=0.8
# )
# ax.set_title("Heat Stress Days per Rice Growth Stage (Yearly) - Kathmandu (27.75, 85.25)")
# ax.set_xlabel("Year")
# ax.set_ylabel("Number of Heat Stress Days (>35°C)")
# plt.xticks(rotation=45)
# plt.tight_layout()
# plt.show()

Why this matters for fertilizer/crop optimization:

Identifies critical periods of heat stress : if reproductive stage often suffers, fertilizer timing or variety selection should account for that.

Helps compare years/decades to see if stress is becoming more frequent due to climate change.

Directly connects climate risk to rice productivity in Kathmandu.

In case of Ktm valley, at this location (lat_target = 27.75 lon_target = 85.25), it is very clear that the heat stress is rising due to climate change at 9 am. For further study, we need to access the full dataset which covers various time during day and night

More to work upon

Temperature Trends, Spatial Heatmaps,

decade-wise boxplots to highlight heat and cold stress days.

In [25]:
# import pandas as pd
# import matplotlib.pyplot as plt

# # --- Plot boxplot ---
# plt.figure(figsize=(14,6))
# df_loc.boxplot(column="t2m_C", by="decade", grid=False, showfliers=False, patch_artist=True,
#                boxprops=dict(facecolor="lightblue", color="blue"),
#                medianprops=dict(color="red"))

# # Overlay heat/cold stress lines
# plt.axhline(y=heat_threshold, color="darkred", linestyle="--", label=f"Heat Stress >{heat_threshold}°C")
# plt.axhline(y=cold_threshold, color="darkblue", linestyle="--", label=f"Cold Stress <{cold_threshold}°C")

# plt.title(f"2m Temperature Distribution per Decade – Kathmandu ({lat_target}, {lon_target})")
# plt.suptitle("")  # remove default subtitle
# plt.xlabel("Decade")
# plt.ylabel("Temperature (°C)")
# plt.xticks(rotation=45)
# plt.legend()
# plt.tight_layout()
# plt.show()

In [26]:
# import pandas as pd
# import matplotlib.pyplot as plt



# # --- Extract year and decade ---
# df_loc["year"] = df_loc["valid_time"].dt.year
# df_loc["decade"] = (df_loc["year"] // 10) * 10
# # 
# # --- Plot boxplot ---
# plt.figure(figsize=(14,6))
# df_loc.boxplot(column="t2m_C", by="decade", grid=False, showfliers=True, patch_artist=True,
#                boxprops=dict(facecolor="lightblue", color="blue"),
#                medianprops=dict(color="red"))

# plt.title(f"Distribution of 2m Temperature per Decade  Kathmandu ({lat_target}, {lon_target})")
# plt.suptitle("") 
# plt.xlabel("Decade")
# plt.ylabel("Temperature (°C)")
# plt.xticks(rotation=45)
# plt.tight_layout()
# plt.show()

GPT : The reason we calculate anomalies is:

Removes the long-term mean → focuses on deviations rather than absolute temperature.

Makes comparisons easier across time or locations → you can see which years or regions are warmer or colder relative to their typical climate.

Highlights extremes and trends → a +3°C anomaly is meaningful even if one location is naturally colder than another.

So while the shape of the time series looks similar, anomalies are relative to the baseline, which is important for climate studies, crop stress analysis, or detecting warming/cooling trends.

In [27]:
# long_term_mean = df['t2m_C'].mean()
# df['anomaly'] = df['t2m_C'] - long_term_mean

In [28]:
# long_term_mean

In [29]:
# df

In [30]:
# import pandas as pd



# # Sort by date
# df = df.sort_values('date')

# # Function to calculate consecutive days
# def consecutive_days(stress_series):
#     count = 0
#     consec = []
#     for val in stress_series:
#         if val:
#             count += 1
#         else:
#             count = 0
#         consec.append(count)
#     return consec


# df['heat_consec_days'] = consecutive_days(df['heat_stress'])
# df['cold_consec_days'] = consecutive_days(df['cold_stress'])

# df['heatwave_flag'] = df['heat_consec_days'] >= 3
# df['coldsnap_flag'] = df['cold_consec_days'] >= 3

# df[['date','t2m_C','heat_stress','heat_consec_days','heatwave_flag', g
#     'cold_stress','cold_consec_days','coldsnap_flag']].head(20)

In [31]:
# df

In [32]:
# print(df['heat_consec_days'].unique())
# print(df['cold_consec_days'].unique())

In [33]:
df.to_csv("../dataset/kathmandu_valley_tp.csv", index=False)

In [70]:
df1 = pd.read_csv("../dataset/kathmandu_valley_t2m_final.csv")

In [71]:
df1

,valid_time,latitude,longitude,t2m,t2m_C,year,month,day,date,heat_stress,cold_stress,growth_stage,anomaly,heat_consec_days,cold_consec_days,heatwave_flag,coldsnap_flag
0,1940-01-01 09:00:00,28.00,85.00,285.40854,12.26,1940,1,1,1940-01-01,False,False,Off-season,-6.557474,0,0,False,False
1,1940-01-01 09:00:00,27.50,86.00,287.08627,13.94,1940,1,1,1940-01-01,False,False,Off-season,-4.877474,0,0,False,False
2,1940-01-01 09:00:00,27.50,85.75,288.47300,15.32,1940,1,1,1940-01-01,False,False,Off-season,-3.497474,0,0,False,False
3,1940-01-01 09:00:00,27.50,85.50,288.20737,15.06,1940,1,1,1940-01-01,False,False,Off-season,-3.757474,0,0,False,False
4,1940-01-01 09:00:00,27.50,85.25,288.78940,15.64,1940,1,1,1940-01-01,False,False,Off-season,-3.177474,0,0,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293065,2025-09-06 09:00:00,28.00,85.25,295.89453,22.74,2025,9,6,2025-09-06,False,False,Reproductive,3.922526,0,0,False,False
293066,2025-09-06 09:00:00,28.00,85.00,297.06055,23.91,2025,9,6,2025-09-06,False,False,Reproductive,5.092526,0,0,False,False
293067,2025-09-06 09:00:00,27.50,85.75,299.14453,25.99,2025,9,6,2025-09-06,False,False,Reproductive,7.172526,0,0,False,False
293068,2025-09-06 09:00:00,27.75,85.25,297.32812,24.18,2025,9,6,2025-09-06,False,False,Reproductive,5.362526,0,0,False,False
293069,2025-09-06 09:00:00,27.50,86.00,297.80273,24.65,2025,9,6,2025-09-06,False,False,Reproductive,5.832526,0,0,False,False

In [72]:
df["valid_time"] = pd.to_datetime(df["valid_time"])
df1["valid_time"] = pd.to_datetime(df1["valid_time"])

In [73]:
# Merge based on valid_time, latitude, and longitude
merged_df = pd.merge(
    df,
    df1,
    on=["valid_time", "latitude", "longitude"],
    how="inner"  # use 'outer' if you want all records even if not matching
)

# Check result
print(merged_df.head())

# Save merged dataset
merged_df.to_csv("merged_dataset.csv", index=False)

   latitude  longitude  year_x  month_x  day_x      date_x      time  \
0      28.0      85.00    1940        1      1  1940-01-01  09:00:00
1      28.0      85.25    1940        1      1  1940-01-01  09:00:00
2      28.0      85.50    1940        1      1  1940-01-01  09:00:00
3      28.0      85.75    1940        1      1  1940-01-01  09:00:00
4      28.0      86.00    1940        1      1  1940-01-01  09:00:00

           valid_time  number  heat_stress_x  ...  day_y      date_y  \
0 1940-01-01 09:00:00       0          False  ...      1  1940-01-01
1 1940-01-01 09:00:00       0          False  ...      1  1940-01-01
2 1940-01-01 09:00:00       0          False  ...      1  1940-01-01
3 1940-01-01 09:00:00       0          False  ...      1  1940-01-01
4 1940-01-01 09:00:00       0          False  ...      1  1940-01-01

   heat_stress_y  cold_stress_y  growth_stage_y    anomaly  \
0          False          False      Off-season  -6.557474
1          False          False      Off-season  -8.347474
2          False          False      Off-season -12.787474
3          False           True      Off-season -17.047474
4          False           True      Off-season -20.107474

   heat_consec_days_y  cold_consec_days_y  heatwave_flag_y  coldsnap_flag_y
0                   0                   0            False            False
1                   0                   0            False            False
2                   0                   0            False            False
3                   0                   2            False            False
4                   0                   1            False            False

[5 rows x 34 columns]

In [74]:
merged_df.columns

Index(['latitude', 'longitude', 'year_x', 'month_x', 'day_x', 'date_x', 'time',
       'valid_time', 'number', 'heat_stress_x', 'cold_stress_x',
       'growth_stage_x', 'heat_consec_days_x', 'cold_consec_days_x',
       'heatwave_flag_x', 'coldsnap_flag_x', 'tp', 'tp_mm', 't2m_x', 't2m_C_x',
       't2m_y', 't2m_C_y', 'year_y', 'month_y', 'day_y', 'date_y',
       'heat_stress_y', 'cold_stress_y', 'growth_stage_y', 'anomaly',
       'heat_consec_days_y', 'cold_consec_days_y', 'heatwave_flag_y',
       'coldsnap_flag_y'],
      dtype='object')

In [75]:
merged_df

,latitude,longitude,year_x,month_x,day_x,date_x,time,valid_time,number,heat_stress_x,...,day_y,date_y,heat_stress_y,cold_stress_y,growth_stage_y,anomaly,heat_consec_days_y,cold_consec_days_y,heatwave_flag_y,coldsnap_flag_y
0,28.0,85.00,1940,1,1,1940-01-01,09:00:00,1940-01-01 09:00:00,0,False,...,1,1940-01-01,False,False,Off-season,-6.557474,0,0,False,False
1,28.0,85.25,1940,1,1,1940-01-01,09:00:00,1940-01-01 09:00:00,0,False,...,1,1940-01-01,False,False,Off-season,-8.347474,0,0,False,False
2,28.0,85.50,1940,1,1,1940-01-01,09:00:00,1940-01-01 09:00:00,0,False,...,1,1940-01-01,False,False,Off-season,-12.787474,0,0,False,False
3,28.0,85.75,1940,1,1,1940-01-01,09:00:00,1940-01-01 09:00:00,0,False,...,1,1940-01-01,False,True,Off-season,-17.047474,0,2,False,False
4,28.0,86.00,1940,1,1,1940-01-01,09:00:00,1940-01-01 09:00:00,0,False,...,1,1940-01-01,False,True,Off-season,-20.107474,0,1,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293065,27.5,85.00,2025,9,6,2025-09-06,09:00:00,2025-09-06 09:00:00,0,False,...,6,2025-09-06,False,False,Reproductive,8.022526,0,0,False,False
293066,27.5,85.25,2025,9,6,2025-09-06,09:00:00,2025-09-06 09:00:00,0,False,...,6,2025-09-06,False,False,Reproductive,7.252526,0,0,False,False
293067,27.5,85.50,2025,9,6,2025-09-06,09:00:00,2025-09-06 09:00:00,0,False,...,6,2025-09-06,False,False,Reproductive,7.212526,0,0,False,False
293068,27.5,85.75,2025,9,6,2025-09-06,09:00:00,2025-09-06 09:00:00,0,False,...,6,2025-09-06,False,False,Reproductive,7.172526,0,0,False,False
293069,27.5,86.00,2025,9,6,2025-09-06,09:00:00,2025-09-06 09:00:00,0,False,...,6,2025-09-06,False,False,Reproductive,5.832526,0,0,False,False

In [ ]:
cols_to_drop = [
    'expver',
    'year_x', 'year_y',
    'month_x', 'month_y',
    'day_x', 'day_y','date_x', 'date_y'
]

merged_df = merged_df.drop(columns=cols_to_drop, errors='ignore')

print(merged_df.columns)

Index(['latitude', 'longitude', 'time', 'valid_time', 'number',
       'heat_stress_x', 'cold_stress_x', 'growth_stage_x',
       'heat_consec_days_x', 'cold_consec_days_x', 'heatwave_flag_x',
       'coldsnap_flag_x', 'tp', 'tp_mm', 't2m_x', 't2m_C_x', 't2m_y',
       't2m_C_y', 'heat_stress_y', 'cold_stress_y', 'growth_stage_y',
       'anomaly', 'heat_consec_days_y', 'cold_consec_days_y',
       'heatwave_flag_y', 'coldsnap_flag_y'],
      dtype='object')

In [77]:
merged_df

,latitude,longitude,time,valid_time,number,heat_stress_x,cold_stress_x,growth_stage_x,heat_consec_days_x,cold_consec_days_x,...,t2m_y,t2m_C_y,heat_stress_y,cold_stress_y,growth_stage_y,anomaly,heat_consec_days_y,cold_consec_days_y,heatwave_flag_y,coldsnap_flag_y
0,28.0,85.00,09:00:00,1940-01-01 09:00:00,0,False,False,Off-season,0,0,...,285.40854,12.26,False,False,Off-season,-6.557474,0,0,False,False
1,28.0,85.25,09:00:00,1940-01-01 09:00:00,0,False,False,Off-season,0,0,...,283.61752,10.47,False,False,Off-season,-8.347474,0,0,False,False
2,28.0,85.50,09:00:00,1940-01-01 09:00:00,0,False,False,Off-season,0,0,...,279.18002,6.03,False,False,Off-season,-12.787474,0,0,False,False
3,28.0,85.75,09:00:00,1940-01-01 09:00:00,0,False,True,Off-season,0,2,...,274.91635,1.77,False,True,Off-season,-17.047474,0,2,False,False
4,28.0,86.00,09:00:00,1940-01-01 09:00:00,0,False,True,Off-season,0,1,...,271.85580,-1.29,False,True,Off-season,-20.107474,0,1,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293065,27.5,85.00,09:00:00,2025-09-06 09:00:00,0,False,False,Reproductive,0,0,...,299.99414,26.84,False,False,Reproductive,8.022526,0,0,False,False
293066,27.5,85.25,09:00:00,2025-09-06 09:00:00,0,False,False,Reproductive,0,0,...,299.22460,26.07,False,False,Reproductive,7.252526,0,0,False,False
293067,27.5,85.50,09:00:00,2025-09-06 09:00:00,0,False,False,Reproductive,0,0,...,299.17578,26.03,False,False,Reproductive,7.212526,0,0,False,False
293068,27.5,85.75,09:00:00,2025-09-06 09:00:00,0,False,False,Reproductive,0,0,...,299.14453,25.99,False,False,Reproductive,7.172526,0,0,False,False
293069,27.5,86.00,09:00:00,2025-09-06 09:00:00,0,False,False,Reproductive,0,0,...,297.80273,24.65,False,False,Reproductive,5.832526,0,0,False,False

In [78]:
merged_df["year"] = merged_df["valid_time"].dt.year
merged_df["month"] = merged_df["valid_time"].dt.month
merged_df["day"] = merged_df["valid_time"].dt.day
merged_df["date"] = merged_df["valid_time"].dt.date
merged_df["time"] = merged_df["valid_time"].dt.time

In [79]:
df = merged_df

In [80]:
df

,latitude,longitude,time,valid_time,number,heat_stress_x,cold_stress_x,growth_stage_x,heat_consec_days_x,cold_consec_days_x,...,growth_stage_y,anomaly,heat_consec_days_y,cold_consec_days_y,heatwave_flag_y,coldsnap_flag_y,year,month,day,date
0,28.0,85.00,09:00:00,1940-01-01 09:00:00,0,False,False,Off-season,0,0,...,Off-season,-6.557474,0,0,False,False,1940,1,1,1940-01-01
1,28.0,85.25,09:00:00,1940-01-01 09:00:00,0,False,False,Off-season,0,0,...,Off-season,-8.347474,0,0,False,False,1940,1,1,1940-01-01
2,28.0,85.50,09:00:00,1940-01-01 09:00:00,0,False,False,Off-season,0,0,...,Off-season,-12.787474,0,0,False,False,1940,1,1,1940-01-01
3,28.0,85.75,09:00:00,1940-01-01 09:00:00,0,False,True,Off-season,0,2,...,Off-season,-17.047474,0,2,False,False,1940,1,1,1940-01-01
4,28.0,86.00,09:00:00,1940-01-01 09:00:00,0,False,True,Off-season,0,1,...,Off-season,-20.107474,0,1,False,False,1940,1,1,1940-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293065,27.5,85.00,09:00:00,2025-09-06 09:00:00,0,False,False,Reproductive,0,0,...,Reproductive,8.022526,0,0,False,False,2025,9,6,2025-09-06
293066,27.5,85.25,09:00:00,2025-09-06 09:00:00,0,False,False,Reproductive,0,0,...,Reproductive,7.252526,0,0,False,False,2025,9,6,2025-09-06
293067,27.5,85.50,09:00:00,2025-09-06 09:00:00,0,False,False,Reproductive,0,0,...,Reproductive,7.212526,0,0,False,False,2025,9,6,2025-09-06
293068,27.5,85.75,09:00:00,2025-09-06 09:00:00,0,False,False,Reproductive,0,0,...,Reproductive,7.172526,0,0,False,False,2025,9,6,2025-09-06
293069,27.5,86.00,09:00:00,2025-09-06 09:00:00,0,False,False,Reproductive,0,0,...,Reproductive,5.832526,0,0,False,False,2025,9,6,2025-09-06

In [81]:
df.rename(columns={"anomaly" : "anomaly_T2m_C"}, inplace=True)

In [82]:
cols_order = [
    'latitude', 'longitude', 'year', 'month', 'day', 'date', 'time',
    'valid_time', 'number', 'heat_stress', 'cold_stress',
    'growth_stage',  'heat_consec_days', 'cold_consec_days',
    'heatwave_flag', 'coldsnap_flag',
    'tp', 'tp_mm', 't2m', 't2m_C','anomaly_T2m_C'
]

df = df[[c for c in cols_order if c in merged_df.columns]]

# Check result
print(df.head())

   latitude  longitude  year  month  day        date      time  \
0      28.0      85.00  1940      1    1  1940-01-01  09:00:00
1      28.0      85.25  1940      1    1  1940-01-01  09:00:00
2      28.0      85.50  1940      1    1  1940-01-01  09:00:00
3      28.0      85.75  1940      1    1  1940-01-01  09:00:00
4      28.0      86.00  1940      1    1  1940-01-01  09:00:00

           valid_time  number            tp     tp_mm  anomaly_T2m_C
0 1940-01-01 09:00:00       0  1.201630e-04  0.120163      -6.557474
1 1940-01-01 09:00:00       0  8.344650e-05  0.083446      -8.347474
2 1940-01-01 09:00:00       0  3.194809e-05  0.031948     -12.787474
3 1940-01-01 09:00:00       0  9.536743e-07  0.000954     -17.047474
4 1940-01-01 09:00:00       0  0.000000e+00  0.000000     -20.107474

In [83]:
df

,latitude,longitude,year,month,day,date,time,valid_time,number,tp,tp_mm,anomaly_T2m_C
0,28.0,85.00,1940,1,1,1940-01-01,09:00:00,1940-01-01 09:00:00,0,1.201630e-04,0.120163,-6.557474
1,28.0,85.25,1940,1,1,1940-01-01,09:00:00,1940-01-01 09:00:00,0,8.344650e-05,0.083446,-8.347474
2,28.0,85.50,1940,1,1,1940-01-01,09:00:00,1940-01-01 09:00:00,0,3.194809e-05,0.031948,-12.787474
3,28.0,85.75,1940,1,1,1940-01-01,09:00:00,1940-01-01 09:00:00,0,9.536743e-07,0.000954,-17.047474
4,28.0,86.00,1940,1,1,1940-01-01,09:00:00,1940-01-01 09:00:00,0,0.000000e+00,0.000000,-20.107474
...,...,...,...,...,...,...,...,...,...,...,...,...
293065,27.5,85.00,2025,9,6,2025-09-06,09:00:00,2025-09-06 09:00:00,0,7.905960e-04,0.790596,8.022526
293066,27.5,85.25,2025,9,6,2025-09-06,09:00:00,2025-09-06 09:00:00,0,1.172543e-03,1.172543,7.252526
293067,27.5,85.50,2025,9,6,2025-09-06,09:00:00,2025-09-06 09:00:00,0,1.961708e-03,1.961708,7.212526
293068,27.5,85.75,2025,9,6,2025-09-06,09:00:00,2025-09-06 09:00:00,0,9.574890e-04,0.957489,7.172526
293069,27.5,86.00,2025,9,6,2025-09-06,09:00:00,2025-09-06 09:00:00,0,3.919601e-04,0.391960,5.832526

In [69]:
df.columns

Index(['latitude', 'longitude', 'year', 'month', 'day', 'date', 'time',
       'valid_time', 'number', 'heat_stress', 'cold_stress', 'growth_stage',
       'heat_consec_days', 'cold_consec_days', 'heatwave_flag',
       'coldsnap_flag', 'tp', 'tp_mm', 't2m', 't2m_C'],
      dtype='object')